[2012-12-10 19:45] clarkewd opened #2 "Get fswatch included with homebrew"
It would be awesome if homebrew included the ability to install fswatch. I'm not sure how you go about getting a package added to the homebrew repository, but if you did then users with homebrew could install fswatch with:

[code]

Thanks for a great utility!

[2012-12-11 23:23] #2 closed, assigned to nobody

[2013-03-13 11:36] mfiers opened #3 "watch a file?"
Nice!

Would it be possible to watch a single file instead of a complete directory?

cheers
Mark

[2013-05-01 18:56] tylereaves opened #4 "Ignore while command is running?"
Would it be possible to (optionally) ignore new events while the specified command is running. In the case where the command outputs to the watched directory, this currently created an infinite loop.

[2013-07-31 19:56] 3cooper opened #6 "Get file that changed?"
Can fswatch tell me which file in a directory changed?  I want to use it to copy files on update as a backup, but I want to know which file to copy.  Thanks.

[2013-09-02 10:13] kornelski opened #7 "License?"
I can't find information on program's license. Could you add one in a LICENSE file or in a file comment?

[2013-09-05 09:37] hokster7 opened #8 "Add verbose mode"
This allows developers to debug why, for example the script invokes the action twice.

[2013-09-05 09:40] hokster7 opened #9 "Add watch filters to prevent action being invoked twice"
I'm `fswatch` to watch my unit tests and source code directories run some tests automatically on file change. This works fairly well, but every modification I seem to make causes two events. I'm guessing this is
- one for the modified file
- one for the directory

This is undesirable and inconvenient.

[2013-10-29 23:17] tobobo opened #10 "multiple folders not working on Mavericks"
Sorry I can't leave a more detailed description of what's going on, as I'm not as experienced with C.

I can start fswatch in a certain directory with `fswatch app "echo hello"`, and on another directory in the same parent directory with `fswatch test "echo hello"`. However, `fswatch test:app "echo hello"` does not echo "hello" for edits in either folder.

Could this be an issue with `CFStringCrea

[2013-11-05 18:27] jucor opened #11 "Ignoring some files?"
Hi

Would it be possible to specify a list of files to ignore? Typical use case: avoiding re-running the unit tests when vim's swap file changes.
Thanks for the work so far!

[2013-11-05 18:54] #7 closed, assigned to nobody

[2013-11-16 11:24] Niresh12495 opened #12 "Execute Command Only After All IO Operations are Completed"
./fswatch /somedir "echo modified"
this command execute echo modified when ever /somedir is changed but the problem is
the command is not aware of IO Operations for an example
if im copying a 300MB File to /somedir the command "echo modified" is being executed several times
modify the tool to wait until the copy operation to fully complete then execute after

[2013-11-19 13:30] #10 closed, assigned to nobody

[2014-01-22 05:03] roldugin opened #14 "Watch a directory containing aliases?"
Thank you for sharing this!

I have a directory of aliases pointing to files in other directories. Right now any changes to the target file do not trigger an event in the directory containing the alias.

What would be a good way to implement this in fswatch or otherwise?

Cheers :)

[2014-04-27 20:27] emcrisostomo opened #17 "Update man page"
Man page has been merged from `fsw` where every reference to `fsw` has been substituted with a reference to `fswatch`. However, the man page should be review and documentation about all the monitors should be updated (the inotify monitor is missing altogether).

[2014-04-27 20:35] #11 closed, assigned to nobody

[2014-04-27 20:50] #14 closed, assigned to nobody

[2014-04-27 20:52] #12 closed, assigned to nobody

[2014-04-27 21:01] #6 closed, assigned to nobody

[2014-04-27 21:07] #4 closed, assigned to nobody

[2014-04-27 21:08] #3 closed, assigned to nobody

[2014-04-27 23:42] #8 closed, assigned to nobody

[2014-04-27 23:49] #9 closed, assigned to nobody

[2014-05-12 18:15] natethelen opened #18 "Unable to easily build on Mac"
Makefile is gone but didn't add the referenced configure file so can't easily build

[2014-05-12 18:40] #18 closed, assigned to nobody

[2014-05-19 00:16] muyinliu opened #19 "configure error line 2386: syntax error near unexpected token `m4'"
After autogen.sh without any warning or error,

<pre><code>fswatch# ./configure
./configure: line 2386: syntax error near unexpected token `m4'
./configure: line 2386: `AC_CONFIG_MACRO_DIRS(m4)'</code></pre>

OS: CentOS release 5.8 (Final) x86_64
Autoreconf: autoreconf (GNU Autoconf) 2.69

[2014-05-19 11:59] svenax opened #20 "Functional changes for version > 0.0.2"
I just upgraded by Homebrews and got a new fswatch that works totally differently than before. OK, I can see a point in working more like `inotifywatch`, but the old API was very useful for me. How about adding a compatibility mode to run some command whenever an event occurs? Maybe something like

[code]

[2014-05-21 06:30] simonexmachina opened #21 "No man page when installed using Homebrew"

[2014-05-21 06:30] simonexmachina opened #22 "I can't find where to download a "release tarball""
The README directs me to a "release tarball" to install, but I can't find where I can download this from.

[2014-05-21 07:20] #19 closed, assigned to nobody

[2014-05-21 07:22] #21 closed, assigned to nobody

[2014-05-22 23:19] #22 closed, assigned to nobody

[2014-05-23 18:05] LeoBakerHytch opened #23 "Add option: --include [regex]"
This could be useful in the case that you want to watch for files of a specific type being changed or created, for example:

[code]

If you attempt to achieve this with the following command:

[code]

then only changes to `.coffee` files that exist at the time of calling `fswatch` will be detected—since the shell expands the glob in the argument, new files won’t be detected.

@emcrisostomo has sug

[2014-05-26 23:00] bwiklund opened #24 "Does this no longer take a command to run on file changes?"
I just upgraded, and `fswatch . "./foo"` doesn't run `foo` anymore, it just prints out a list of the files changes.

[2014-05-29 18:30] #24 closed, assigned to nobody

[2014-05-29 18:34] #20 closed, assigned to nobody

[2014-06-04 12:51] ricardobeat opened #27 "Redirect usage text to sdterr unless -h or --help"
Usage instructions should only go to `stdout` when `--help` is used. Right now any invalid option/argument causes the whole text to be piped to `xargs` or whatever is capturing the output.

[2014-06-04 15:45] #27 closed, assigned to nobody

[2014-06-11 15:30] emcrisostomo opened #29 "Update fswatch-run to accept multiple path arguments"
Currenty, `fswatch-run` accepts only two arguments: one for the path to watch and another for the command to run. Consider adding the possibility of specifying multiple path arguments.

[2014-06-13 11:26] #29 closed, assigned to nobody

[2014-06-13 11:30] emcrisostomo opened #31 "fswatch-run needs an help message and a man page"
As pointed out by @nobeans in [Issue 29][issue29], `fswatch-run` is documented only in `README.md`. It should print a proper help message and have a man page too.

[issue29]: https://github.com/alandipert/fswatch/issues/29

[2014-06-24 15:27] mpassell opened #32 "Problems building fswatch 1.3.6 on Mac v10.8.5"
I just downloaded the 1.3.6 release and tried to configure and make, but I get the error below. Anything special I should feed into configure and/or make?
(Sorry about the crappy formatting :( )

[code]

[2014-06-24 17:22] #32 closed, assigned to nobody

[2014-07-04 12:01] kramer65 opened #33 "Documentation for fswatch?"
I'm trying to convert an inotifywait to fswatch so that I can also use it on a Mac. The command I'm trying to convert is:

[code]

Following the example in the README, I created a folder called `testfswatch/` and I tried running the following commands in the parent folder and then adding and changing files on the testfswatch/ folder:

[code]

None of these commands seem to do anything when I chang

[2014-07-04 13:46] #33 closed, assigned to nobody

[2014-07-04 15:04] emcrisostomo opened #34 "The inotify monitor prints diagnostic messages even when not run in verbose mode"

[2014-07-04 15:06] #34 closed, assigned to nobody

[2014-07-21 19:35] josephholsten opened #35 "Support Solaris/Illumos File Events Notification API"
Described here: https://blogs.oracle.com/praks/entry/file_events_notification

[2014-07-21 19:40] josephholsten opened #36 "beautiful project home page"
I'm wanting to link to fswatch from a project of mine: https://github.com/discoteq/discoteq.rb

It would be really nice to have a beautiful home page for fswatch, or at least a rendered version of the man page.

[2014-07-21 19:56] josephholsten opened #37 "support file-content change watching"
Many times an application is interested not in the fact that the modified date changed, but that the actual content of the file changed.

Obviously this does not apply to directories, and adds a whole new set of edge cases to deal with. Is this something which makes sense as part of fswatch, or should it be a separate tool?

[2014-07-26 19:23] #23 closed, assigned to nobody

[2014-08-16 13:07] emcrisostomo opened #38 "Have monitor exit when -1/--one-shot is used instead of using ::exit()."
A patch has been applied that makes `fsw` exit using `::exit()` after the first even is notified when the `-1/--one-shot` option is used. Monitor cleanup is performed using a function registered with `::atexit()`, but in this simple case I believe a better solution would be having the monitor exit from the run loop to have `main()` return instead of terminating the process with `::exit()`.

[2014-08-16 13:07] emcrisostomo opened #39 "Handle monitor queue overflows."
Both the Windows and the Linux `inotify` monitor internal buffers may overflow if events are generated too quickly. Currently, `fswatch` exits with an error.  I'd like to add an option to have `fswatch` emit a placeholder event for queue overflows without exiting, so that callers may gracefully recover.

[2014-08-16 13:07] emcrisostomo opened #40 "Review inotify_add_watch mask"

[2014-08-16 13:08] emcrisostomo opened #41 "Check for candidate code reuse between the poll and the inotify watcher."

[2014-08-16 13:08] emcrisostomo opened #42 "Event flags are missing mappings for finer-grained monitor backends flags"

[2014-08-16 13:08] emcrisostomo opened #43 "inotify_monitor does not support recursive scan of directories"

[2014-08-19 14:15] obscaenvs opened #44 "BASH read now ignores NUL character"
According to this: http://wiki.bash-hackers.org/commands/builtin/read , BASH read now ignores the NUL character. I am trying to find a workaround, and will probably succeed soon enough, but I just wanted to drop a line.

[2014-08-19 16:56] #44 closed, assigned to nobody

[2014-08-20 10:15] obscaenvs opened #45 "MINOR issue; suggestion, even."
Just a suggestion: add an example using `xargs`, not `read`, and point out the importance of using `-n 1` with it, i.e. `fswatch . -0 | xargs -0 -n 1 sshOrWhatever`. I couldn't find such an example in your documentation (though it might be in there), and I know a few people who have struggled with this.

[2014-08-21 09:19] #45 closed, assigned to nobody

[2014-08-23 15:15] emcrisostomo opened #46 "Allow filtering by event type"

[2014-08-26 19:47] #43 closed, assigned to nobody

[2014-08-26 19:47] #41 closed, assigned to nobody

[2014-08-26 20:06] slang800 opened #47 "install fswatch via aptitude/apt-get"
releasing a debian package would be really helpful for linux users

[2014-08-26 20:55] notslang opened #48 "problems building on ubuntu"
It seems to build without any errors, but when running it, it fails to find `libfswatch.so.0`:

[code]

[2014-08-27 15:47] #48 closed, assigned to nobody

[2014-08-28 17:54] grosch opened #50 "Add support for custom record format (Was: Add separator character)"
Right now you're just appending event flags with spacing.  I'd like to be able to specify something besides space because my filenames have spaces in them.  Makes parsing harder.

[2014-08-28 19:05] grosch opened #51 "Unable to build source"
If I clone your repository there's no configure script.  Running autoconf fails as well due to missing dependencies.

[2014-08-28 19:08] #51 closed, assigned to nobody

[2014-08-28 19:15] grosch opened #52 "Need bundle markers (latency has no effect on the FSEvents monitor)."
I want to put a latency so that I "bundle" my changes.  There needs to be some way that the output tells me that I've reached the end of a set of updates so I can go process them.

[2014-09-04 10:49] emcrisostomo opened #53 "Add gettext support"

[2014-09-08 01:05] ryandesign opened #54 "broken fswatch-run symlink installed if using DESTDIR=..."
If installing using `make install DESTIR=...` the `fswatch-run` symlink incorrectly points into the destdir.

The fix is to remove `$(DESTDIR)` from the source part when creating the symlink.

In fact since the source and destination are in the same directory there's no need to use the absolute path at all.

This patch should fix this:

[code]

[2014-09-08 07:15] guybowden opened #55 "Running a command with it's own arguments"
Not sure this is the right place to ask, but Stackoverflow didn't come through http://stackoverflow.com/questions/25689589/how-to-run-fswatch-to-call-a-program-with-static-arguments

Basically, I used to use fswatch (0.0.2) like so:

`fswatch . 'python manage.py test'`

That ran the command `python` with the two arguments `manage.py` and `test`

Since upgrading fswatch I can't figure out a way to

[2014-09-08 16:44] #55 closed, assigned to nobody

[2014-09-08 17:55] #54 closed, assigned to nobody

[2014-09-11 18:51] #53 closed, assigned to nobody

[2014-09-18 22:49] lunetics opened #57 "Freebsd gettext version"
Running Freebsd.

in ./configure.ac  and ./libfswatch/configure.ac there is a dependency on gettext 0.19.2 . Latest package / port available in Freebsd is currently 0.18.3 . Any special need for 0.19.2 instead of 0.18.3 ?

[2014-09-19 12:02] #57 closed, assigned to nobody

[2014-09-23 11:07] dazzag24 opened #58 "Build fails on Ubuntu 14.04.1 LTS"
$ autoconf
configure.ac:31: error: possibly undefined macro: AC_CONFIG_MACRO_DIRS
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
configure.ac:45: error: possibly undefined macro: AM_INIT_AUTOMAKE
configure.ac:46: error: possibly undefined macro: AM_SILENT_RULES
configure.ac:47: error: possibly undefined macro: AM_PROG_AR
configure.

[2014-09-23 12:49] #58 closed, assigned to nobody

[2014-09-26 23:49] neojski opened #59 "How to check which file got modified?"
I couldn't figure it out or find in the examples/man. Is it even possible?

[2014-09-27 10:27] #59 closed, assigned to nobody

[2014-10-07 17:08] bengillies opened #60 "Allow excluding file patterns by passing in a file"
Basically what I'd like is to pass in my `.gitignore` file(s) and have it exclude everything that matches rather than specify everything via regexp.

[2014-10-23 05:53] grossbart opened #61 "fswatch broken on OS X 10.10 Yosemite"
After upgrading from OS X 10.9 to 10.10, fswatch doesn't work for me anymore, i.e. it doesn't report file changes anymore. I installed it via homebrew, `brew update`d, `brew doctor`d, and all is fine. I updated XCode, `brew uninstall fswatch`d and reinstalled it after the OS upgrade, too, but it just doesn't report file changes anymore.

I feel quite stupid reporting this issue without any further

[2014-10-23 07:50] #61 closed, assigned to nobody

[2014-10-26 16:00] walterdolce opened #62 "Misleading output"
Hi @emcrisostomo , first of all thank you for providing this useful tool to the community.

I'm using `fswatch` to implement something useful in my domain but I suspect that there might be a bug in it currently?

The output from `fswatch` is somewhat misleading and, unless I'm missing relevant informations, I think that they shouldn't be there given a certain action taken.

When I do:

[code]

Sho

[2014-10-26 21:16] rhcarvalho opened #63 "Wrong argument in man"
`man fswatch` says:

[code]

This should be "--include", not "--exclude".
I guess the code to be fixed lives in [here](https://github.com/emcrisostomo/fswatch/blob/740afb1d140af30c8dda7d823b8ce7d3aff3cad9/man/fswatch.7.in#L106).

[2014-10-26 21:29] #63 closed, assigned to nobody

[2014-10-27 22:20] walterdolce opened #64 "Shortcut for monitoring parameter not working as the extended one"
Hi @emcrisostomo ,

I was trying to specify a monitor when launching `fswatch` and I experienced different behaviour when I use its shortcut.

To reproduce on Mac OS X Yosemite 10.10:

[code]

Instead of:

[code]

[2014-10-29 10:03] #64 closed, assigned to nobody

[2014-10-29 12:55] ryanrbftp opened #65 "Missing Symbols"
We have just installed via homebrew on OS X and get the following message when running fswatch:

[code]

How can we fix this?

Thank you for your help in advance.

[2014-10-29 15:22] #65 closed, assigned to nobody

[2014-10-29 21:20] walterdolce opened #66 "Exclude items with poll_monitor not considered"
Hi @emcrisostomo. As per #62, I was trying a different monitor but it seems that by using the ones below the `-e` parameter items are not taken into account.

When I launch:

[code]

or:

[code]

And I modify a file in the same directory, I get notified about what's in the `.git/` folder as well.
I also tried by not escaping the dot (`.`) in the `.git/` parameter item just to double check and I ge

[2014-11-05 19:19] vnd opened #67 "100% CPU usage while using libfswatch"
Here's a simple program that uses up 100% of CPU on my machine:

[code]

I compiled latest fswatch and took libfswatch.so, libfswatch.h and dependent header file (cevent.h  cfilter.h  cmonitor.h  error.h libfswatch_log.h) from there in order to compile the program above.

Some notes:
1) Callback is called infrequently (2-3 times per second), as supposed to be.
2) If a call to fsw_set_callback is r

[2014-11-06 12:51] #66 closed, assigned to nobody

[2014-11-06 14:42] #67 closed, assigned to nobody

[2014-11-06 14:49] #52 closed, assigned to nobody

[2014-11-08 00:26] walterdolce opened #69 "Command to show available monitors"
Hi @emcrisostomo,

This is now an issue. This is rather a proposal for a new command available when using `fswatch`.

It would be nice to have a command listing all the available monitors. Maybe something like (Mac OS X, Yosemite):

[code]

Utilities/tools depending on `fswatch` could let their users choose the monitor and/or prevent to use one the utility/tool when a monitor is not supported by i

[2014-11-26 18:41] walterdolce opened #71 "Different output when using -e"
Hi @emcrisostomo ,

Not sure whether it's a bug or not and if you're aware of the following. I thought that letting you know would have been better though.

When I:
[code]

When I, instead (assuming `newfile` doesn't exist yet):
[code]

And finally when I (again assuming `newfile` doesn't exist):
[code]

Note the difference between the first example and the second where `-e` it's there but it's em

[2014-11-26 19:49] walterdolce opened #72 "Elements exclusion not excluding correctly"
Hi @emcrisostomo ,

There's something not working as I would expect when excluding items during the watching.
It seems that `fswatch` takes into account only the first element in the list of items to be excluded. I recall this working as expected when not specifying `-m poll_monitor`.

Commands and output:
[code]

Thank you!

[2015-01-14 08:21] gsamokovarov opened #74 "Assertion failed on fsw_destroy_session"
Hello there,

I'm getting `Assertion failed: (ec == 0), function unlock, file /SourceCache/libcxx/libcxx-120/src/mutex.cpp, line 45` when I try to free a C API monitor session in short time after creation.

I have this snippet that always reproduces the problem on my machine:

[code]

[2015-01-14 11:28] emcrisostomo commented on #74
Hi @gsamokovarov,

Thanks for the bug report. I've spotted the error in `fsw_destroy_session`: you can grab the `develop` branch if you are in a hurry: I'm preparing a release this afternoon or tomorrow and I'll close this issue afterwards.

[2015-01-14 12:15] gsamokovarov commented on #74
I tried the fix and it works for me. Thank you @emcrisostomo!

[2015-02-09 16:28] SnoringFrog opened #76 "Event Flags not appearing on OSX 10.10.1"
Numeric flags seem to work fine, but word-based do not appear for any monitor. Tested while monitoring a directory as well as an individual file.

fswatch version 1.4.6.

[2015-02-09 16:34] emcrisostomo commented on #76
Hi @SnoringFrog, can you confirm you are using the `-x` option?

[2015-02-09 16:36] SnoringFrog commented on #76
*facepalm*

Real issue is my inability to read, apparently. I swear I went through the arguments on the man page numerous times looking for such an argument.

[2015-02-09 16:36] #76 closed

[2015-02-09 18:59] emcrisostomo commented on #76
No problem @SnoringFrog, it has happened to anybody.

[2015-03-01 15:32] mralexgray opened #78 "Differences between release and master?"
When I clone the master branch.. I stupidly can't figure out how to build things.  I run `autoconf` which bricks with something like

_However_, I **can** run `./configure` and all is good in the world if I download the tarred "Release".

This is probably more of a question than an issue (maybe an issue for the documentation), but what script/process is being run to get the `Release` ready..  aka,

[2015-03-01 15:41] mralexgray opened #79 "Documentation needed for fswatch-run-* scripts."
There is neither inline (commented in scripts), `man`-page, or `README` mention of how to use the various `fswatch-run-zsh` et. al scripts.

[2015-03-01 17:06] emcrisostomo commented on #78
Hi @mralexgray,

Straight out of the `README` file:

That is: if it's the first time you are using the GNU Build System, you should read some documentation about it. If you are "only" changing the sources, then you just need to install the GNU Build System in order to bootstrap the project.

[release]: https://github.com/alandipert/fswatch/releases

[2015-03-01 17:06] #78 closed

[2015-03-01 17:09] emcrisostomo commented on #79
Hi @mralexgray,

No, there isn't any documentation, the reason being explained in the *Compatibility Issues with fswatch v. 0.x* section of the `README`. To make the long story short: those scripts are provided for backward compatibility and *should* not be used unless you are supporting old scripts using the legacy syntax.

[2015-03-01 17:09] #79 closed

[2015-03-01 20:50] #74 closed

[2015-03-01 20:55] emcrisostomo commented on #71
Hi @walterdolce,

Sorry for the belated answer: in the first example the `-e` option is not empty: `-x` is its value.

[2015-03-01 20:55] #71 closed

[2015-03-01 20:57] #50 closed

[2015-03-13 10:18] RomeshA commented on #46
I'd like to second this, I'm writing a script to move newly-created files that are dropped remotely into a folder, but on Linux each file creation results in 4 events (only one of which is creation) - and it can also results in an event on the parent folder. So it's much harder to isolate just the created file

[2015-03-17 15:32] keestimmer opened #80 "ds_store logentries"
Hi there,
Maybe someone can help me with this: I am building a folderscanner and every now and then there is a "folder update" regarding DS_Store files... In te man page I read something:
exclude regexp
             Exclude paths matching regexp.  Multiple exclude filters can be
             specified using this option multiple times.  See FILTERING PATHS
             for further information.
Is t

[2015-03-18 08:10] hadret commented on #47
Guys, I haven't seen any ITP so far for this package on Debian mailing lists. The only attempt I've found so far is this [RFP #592234](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=592234), though I believe this is some other software with the same name.

So, long story short, I was in need for ready-to-use package for Debian, so I built one. You may find it here: [http://deb.ianod.es/debian/p

[2015-03-23 19:54] mikol opened #81 "Exclude filter not working with inotify_monitor."
`fswatch -r ./appserver` produces output with hidden files that I would like to ignore. For example:

[code]

When I use an exclude filter – e.g., `fswatch -r -e '\._.*' ./appserver` – the output is unchanged.

I know this filter works because I can use it with the poll monitor – `fswatch -m poll_monitor -r -e '\._.*' ./appserver` – and it does what I expect.

[2015-04-30 03:04] sfinktah commented on #58
I think you could afford to place the text that says:

in the README (in the git root).  I actually read with interest the history of fsw and fswatch, and thought I had read everything else, but alas half an hour of googling on AC_CONFIG_MACRO_DIRS bought me here, and I had to re-evaluate.

Excellent works on the program BTW.  I guess I just tend to pay more attention to README/INSTALL files I rea

[2015-05-12 13:54] crimsonkissaki opened #82 "-i flag seems to not work"
OS X 10.9.5
fswatch version 1.4.6

Using fsevents_monitor

Results with no flags upon save:
./Path/To/Watch/Directory/4913
./Path/To/Watch/Directory/ChangedFile.php
./Path/To/Watch/Directory/ChangedFile.php~
./Path/To/Watch/Directory/ChangedFile.php

-e '\.php$' returns expected results
./Path/To/Watch/Directory/4913
./Path/To/Watch/Directory/ChangedFile.php~

-i '\.php$' returns same results as n

[2015-05-12 14:39] #80 closed

[2015-05-12 14:39] emcrisostomo commented on #80
I'm sorrry but this is not an issue with `fswatch` nor its documentation.  Try to be more specific and maybe use other sites (for example: stack overflow) for questions such as this one.

[2015-05-12 14:47] emcrisostomo commented on #82
Hi @crimsonkissaki,

Currently the behaviour is this (`fswatch` manual, Sec. 3.7.1):

So, the answer is that the behaviour is by design. You can add an exclusion filter matching everything. We may even open another issue and discuss whether this is a sane default (I'm not sure either).

[2015-05-12 14:47] #82 closed

[2015-05-12 14:56] emcrisostomo commented on #81
Hi @mikol,

I can't reproduce your issue using the latest available `fswatch`. Also, the matching logic is common for all monitors so it's pretty weird that the same filter configuration works for a monitor but not for another. Please reopen this issue if you confirm it.

[2015-05-12 14:56] #81 closed

[2015-05-12 15:00] crimsonkissaki commented on #82
Just for clarification then. Does that mean that -i filters are pretty much only good for overriding overly greedy -e filters?

[2015-05-12 15:03] emcrisostomo commented on #82
You're welcome @crimsonkissaki,

Yes, at the moment it does mean exactly that.

I've been thinking about other filtering algorithms (first filter wins, for example), but at the moment the only implemented behaviour is the aforementioned.

[2015-05-12 15:09] crimsonkissaki commented on #82
Awesome. Thank you very much. And thanks for this hugely useful script!

[2015-05-12 15:11] emcrisostomo commented on #82
You're welcome! I'm glad it's helpful, thanks for saying so, it's appreciated.

[2015-05-16 14:59] emcrisostomo commented on #72
You're welcome @walterdolce and sorry for the belated answer: you should use multiple `-e` options to pass multiple exclusion filters (the same is true for `-i`).  Your example should then read:

    fswatch  -e excluded1 -e excluded2 ...

[2015-05-16 14:59] #72 closed

[2015-05-27 00:45] emcrisostomo commented on #62
I'm closing this issue because it is an effect or the FSEvents behaviour.

[2015-05-27 00:45] #62 closed

[2015-05-27 00:47] emcrisostomo commented on #37
I thought about this one @josephholsten and I see no way I can do this into `fswatch` and achieve some level of portability.

[2015-05-27 00:47] #37 closed

[2015-05-27 11:51] emcrisostomo commented on #69
Resolved in <develop>.

[2015-05-27 11:51] #69 closed

[2015-05-27 21:42] emcrisostomo opened #83 "Callback invocation should be moved into fsw::monitor"

[2015-06-15 12:38] philpraxis opened #84 "Add a timeout or artificial event every X seconds"
In some application (mine right now), it may be useful to have fswatch generate an event (empty line, heartbeat or else) every X seconds even if there is no activity on the monitored files

-T (Timeout) or -A (Artificial) ?

Thanks.

[2015-06-18 09:57] samvv opened #85 "File System Events monitor broken on OS X Yosemite"
Using fswatch with the default monitor (`fsevents_monitor`) on OS X Yosemite does not produce any output. The `poll_monitor` and `kqueue_monitor` do work.

Related to issue #61, though I tried restarting and it still doesn't work.

Ouput of `otool -L /usr/local/bin/fswatch`:

[code]

[2015-06-18 11:42] emcrisostomo commented on #85
Hi @samvv,

The latest OS X is the current development environment for `fswatch` and I'm not able to reproduce the problem you describe. How did you install `fswatch`?

[2015-06-18 17:33] samvv commented on #85
Hmm might be related to my set-up then ... I did a simple `brew install fswatch`.

I solved the issue temporarily by changing the default monitor to `kqueue` with `alias fswatch='fswatch -m kqueue_monitor`.

[2015-07-06 10:00] rhacker opened #86 "watch for a specific filetype"
How can we watch for a specific filetype ? It would be convenient to run the build if that kind of filetype changes only.

Thanks,

[2015-07-06 10:14] emcrisostomo commented on #86
Hi,

How do you determine the type of a file? If you use the file extension you can just use inclusion and exclusion patterns.

--
Enrico M. Crisostomo

Sent from a mobile device.
Please excuse typos and brevity.

[2015-07-07 16:00] rhacker commented on #86
@emcrisostomo yes, it's exactly how it works. Do you have any example of using those ?
I'm not so sure about the format, what I've tried is : `fswatch -0 -r -o . -i '.js$' | xargs -0 -n 1 -I {} make js  `. It doesn't work, the pattern is not correct I think.

[2015-07-07 21:12] emcrisostomo commented on #86
Well, I guess you may check the documentation:

  * `man fswatch`
  * `info fswatch`
  * Use the [PDF manual][pdf].

The short story: `-I` and `-E` can be used to specify inclusion and exclusion filters, that are regular expressions matched against the path of every notification. Citing the documentation:

[pdf]: https://drive.google.com/folderview?id=0BxZtP9CHH-Q6bHF3bmJGRmlVcVU&usp=sharing

[2015-07-07 21:12] #86 closed

[2015-07-10 05:15] seaside98 opened #87 "fswatch isn't following symbolic links"
Fswatch does not follow symbolic links to watch events within the symbolic link. I am running
[code]
I have also tried ```--follow-links```, with no results. Hopefully this isn't just an issue with me.

OSX yosemite
fswatch 1.4.7

[2015-07-13 13:37] blaggacao opened #88 "Windows support?"
Are there any plans to support Windos's FileSystemWatch API?

I found a reasonably advanced mapper to the inotify command here:
https://github.com/thekid/inotify-win/

however, it lacks still some fundamental support for more complex operations, such as moving:
https://github.com/thekid/inotify-win/issues/7

[2015-07-13 13:56] emcrisostomo commented on #88
Hi @blaggacao,

I'm acquainted with that Windows API. Creating a monitor for it wouldn't be difficult, but I'm essentially lacking time for doing that.

I'm following up on the [referenced issue][issue].

[issue]: https://github.com/boot2docker/boot2docker-cli/issues/66

[2015-07-19 12:16] #85 closed

[2015-07-19 12:21] emcrisostomo commented on #87
I just tried to replicate your issues but I don't find any problem:

    % fswatch --version
    fswatch 1.4.7
    ...
    % mkdir ${HOME}/temp
    % ln -s ${HOME}/temp ${HOME}/mylink
    % fswatch -Lr ${HOME}/mylink

From another terminal:

    % touch ${HOME}/mylink/test.txt

and `fswatch` outputs (`${HOME}` is a placeholder):

    ${HOME}/temp/two.txt Created IsFile

Could you confirm you are a

[2015-07-19 12:21] #87 closed

[2015-07-19 12:33] seaside98 commented on #87
Perhaps I am using it wrong, is there not support for nested symbolic links?

% ln -s ${HOME}/temp ${HOME}/folder/mylink
% fswatch -Lr ${HOME}/folder

[2015-07-19 16:16] emcrisostomo commented on #87
Symlink resolution is guaranteed when parsing command line arguments but then each monitor has its own characteristics. You are running `fswatch` on OS X and I assume you are using the FSEvents monitor: in this case, the `-L` option has no effect since the FSEvents API does not offer this behaviour.

Monitors using other APIs, such as kqueue and inotify, have to scan the file system anyway and add

[2015-07-19 16:53] seaside98 commented on #87
Ah, that explains it. Thank you very much!

[2015-07-19 16:54] emcrisostomo commented on #87
You're welcome @seaside98

[2015-07-20 15:27] lucianp commented on #46
Like the others have said, I think this feature would be extremely useful.
Most of the time we are only interested in actual file changes (`CREATE`, `CLOSE_WRITE`, `DELETE`, `MODIFY`, `MOVED_FROM`, `MOVED_TO`) and we would like to ignore read events (`OPEN`, `ISDIR`, `CLOSE_NOWRITE`, etc.).

I realize that it may not be trivial to implement this in a platform-independent manner, because the events

[2015-07-20 15:32] emcrisostomo commented on #46
Hi @lucianp,

you're welcome and thanks, it's appreciated.

Yes, I agree it would be useful.  In fact, I'm reviewing the mappings between platform-specific events and "generic" fswatch events soon and implement this.

[2015-07-23 01:28] meltonpineda opened #89 "fswatch running on the background"
Hi,
Is there a flag that will running fswatch as a daemon and it will trigger when a file is modified?

[2015-07-23 01:41] meltonpineda commented on #89
can i also do whenever i start my machine they will also automatically start watching my folders?

[2015-07-23 08:36] emcrisostomo commented on #89
`fswatch` requires nothing special.  However, `fswatch` just dumps file changes to its output.  If you want to act on those changes you will need to prepare a shell script that does what you want.  You will then configure your OS to launch this script during the boot procedure.  How you accomplish this is system specific: check the documentation of your OS.

[2015-07-23 08:36] #89 closed

[2015-07-30 13:03] jsarenik commented on #84
Is [`timeout`](http://git.savannah.gnu.org/cgit/coreutils.git/tree/src/timeout.c) from Coreutils enough for you?It sounds like it offers the same functionality and can be easily stacked as `timeout 10s fswatch ...`

[2015-07-30 13:11] jsarenik commented on #84
The heartbeat event can be possibly achieved using `pgrep` or `ps` because `fswatch` should be running if it operates and if there is an error, it exits and you would not find a process running.

For example:

[code]

[2015-07-30 13:14] jsarenik commented on #36
Is this done already? http://emcrisostomo.github.io/fswatch/

[2015-07-30 13:22] emcrisostomo commented on #36
Hi @jsarenik,

As you suspect, it is not, that's why this issue is still open.  I'm short of time lately.

[2015-07-30 14:38] jsarenik commented on #36
Hi @emcrisostomo,
Is there anything I can help you with?

[2015-07-30 15:31] emcrisostomo commented on #36
Hi @jsarenik,

Any idea and/or design and/or code is welcome!  The page could use any help I guess since it's pretty basic: the standard GitHub template showing an excerpt of the `README.md`.

[2015-08-04 16:26] emcrisostomo commented on #83
Fixed in [1.5.0][latest].

[latest]: https://github.com/emcrisostomo/fswatch/releases/tag/1.5.0

[2015-08-04 16:26] #83 closed

[2015-08-04 16:27] emcrisostomo commented on #46
Hi all,

This issue has been fixed in [1.5.0][latest]. I'll prepare the OS X ports shortly.

[latest]: https://github.com/emcrisostomo/fswatch/releases/tag/1.5.0

[2015-08-04 16:27] #46 closed

[2015-08-04 22:24] emcrisostomo commented on #17
I'm closing this one because `fswatch` now has a comprehensive Texinfo documentation and I consider the man page as a mere placeholder.

[2015-08-04 22:24] #17 closed

[2015-08-07 07:43] cobyrne09 opened #90 "Cannot get swatch to monitor folder"
Hey,

Total noob here. I am using fswatch to sync a project folder to a dev server. The goal is to get it to permanently run in the background to monitor changes on the project folder, every time I start up my machine. The shell script handles the syncing.

I use the following command to try to watch the project folder:

 user$ fswatch /Applications/MAMP/htdocs/tdxall | /usr/local/bin/synctodev.sh

[2015-08-07 10:11] emcrisostomo commented on #90
Hi @cobyrne09, I don't know what `synctodev.sh` does, but I guess piping `fswatch` to it won't just do the work. `fswatch` output changes to the output, one per line, or separated as you wish, and your script must be able to receive them somehow and process it.

The documentation offers some example: did you notice this one in the `README`?

[code]

This example tells `fswatch` to output `NUL`-sep

[2015-08-07 10:11] #90 closed

[2015-08-08 06:49] kpeterson11 opened #91 "Can't compile 1.5 on freebsd 9.3"
I can't compile `fswatch` 1.5 on FreeBSD 9.3.  I have tried using clang 3.4, 3.5, 3.6 and 3.8.  They all fail.  I can compile `fswatch` 1.4.6 with no troubles.

Here is the output when I tried compiling with clang 3.6:

[code]

[2015-08-08 08:44] emcrisostomo commented on #91
Hi @kpeterson11,

It's failing because that instance of `std::map` is constructed by assigning from an initializer list:

[code]

This is not legal on pre C++11 compilers and pre C++11 standard libraries. Depending on whether this is a compiler problem, library problem or both, we could:

  * Move the map creation to a helper function, say `build_names_by_flag()`, used to initialise `names_by_flag

[2015-08-08 10:12] emcrisostomo commented on #31
`fswatch-run` is documented in the Texinfo documentation. Furthermore, it has been deprecated and should be dropped altogether.

[2015-08-08 10:12] #31 closed

[2015-08-08 10:22] emcrisostomo opened #92 "Review configure checks"
Review configure checks: some code in `fsw::monitor` should depend on `HAVE_REGCOMP`.

[2015-08-08 15:26] emcrisostomo commented on #91
Hi @kpeterson11,

I've released `fswatch` 1.5.1 and I've updated [my FreeBSD port][port]. This port successfully builds on `9.3-RELEASE` and `10.1-RELEASE`. You can find more instructions [here].

[here]: http://emcrisostomo.github.io/fswatch/getting.html

[2015-08-08 15:26] #91 closed

[2015-08-16 10:54] emcrisostomo commented on #92
Cleaned up in 1.6.0.develop.

[2015-08-16 10:54] #92 closed

[2015-08-20 22:35] nyarly commented on #42
Is this equivalent to "PlatformSpecific" is not very useful event information?  I was looking at fswatch to drive some build processes, but I get (I think?) events for file *access* that are all "PlatformSpecific" - even just an extra code there would help.

[2015-08-21 13:37] emcrisostomo commented on #42
Hi @nyarly,

Yes, that's the reason why I assigned this issue to myself. I'll have a look at it in the next version (I'm writing a monitor that takes advantage of the Windows API). IMHO, however, you should be able to ignore `PlatformSpecific`: if I remember correctly, it should always go accompanied with other events and you should not miss either miss or writes.  Which monitor are you using?

[2015-08-31 23:28] dashaus opened #93 "cancel current execution after of a new event"
I have the following script:

[code]

the execution inside of `while` take 15 seconds, I want that when a new event is raised cancel the current execution and execute it again. How can I do? I know really little about shell script...

[2015-09-15 12:08] emcrisostomo opened #95 "Link phase may fail if headers are found but libraries aren't"
A FreeBSD 10 user reported link failure while resolving `inotify` functions:

[code]

`./configure` was finding the `inotify` header files:

[code]

but the functions could not be resolved.

`./configure` was correctly reporting `inotify` headers as present since they were installed by `libinotify`.

The `./configure` scripts should be enhanced so as to check for functions after headers are found.

[2015-09-15 16:12] emcrisostomo commented on #95
Resolved for `kqueue` and `inotify` monitor in `develop`.

[2015-09-16 22:32] v3n commented on #88
Hey @emcrisostomo, I'm interested in this feature as well and noticed some progress being made in a feature branch. Is there any help you might need with it?

[2015-09-16 22:58] emcrisostomo commented on #88
Hi @v3n,

yes, you're right. The code in the branch `feature/windows-support` contains a functional, alpha-quality monitor that uses the Windows API. It's functional and it would be cool if you could try it and report bugs.

The Windows API let us watch _directories_, not files. Currently, the Windows monitor is subject to this limitation: `fswatch` will skip files specified in its arguments (you

[2015-09-16 23:58] v3n commented on #88
@emcrisostomo,

That's great news. Currently my dependency stack doesn't include cygwin, and I'd like to avoid including it. I'm going to attempt to build it without it (I'm using bkaradzic/genie for our pre-build system). I'll report on the progress. Would there be any interest in a PR for the build script if I'm successful?

Also, files are ignored, is this a `libfswatch` or a `fswatch` feature?

[2015-09-17 00:21] emcrisostomo commented on #88
Hi @v3n,

Yes, thanks, send a PR if you please. CygWin is used to convert UNIX paths to Windows paths. It should be very easy to remove it. However, since CygWin is widely used and `fswatch` strives for portability, I like the idea of its being able to use UNIX paths as well. CygWin should be made an optional component and `fswatch` should be able to understand whether a path is a UNIX path or a W

[2015-09-19 21:00] seaside98 commented on #93
@dashaus I created something very similar for a project I'm working on. Basically, you find the PID of the running script and kill it. You may need to change the ```"fswatch"```...

[code]

[2015-09-20 20:20] dashaus commented on #93
And How I can detect when a new event is raised?. Thanks you very much!

[2015-09-20 20:22] seaside98 commented on #93
@dashaus You will just put that at the beginning of your current script. If any fswatch's are running, they will be stopped, and then yours will be started.

[2015-09-20 21:03] seaside98 commented on #93
@dashaus Oh, wait. I see what you mean. It will look something like:

```fswatch.bash``` --

[code]

```compile.bash``` --

[code]

[2015-09-20 22:22] dashaus commented on #93
thanks, then I have this in this moment:

[code]

And don't works... The problem is that the block inside of `while` It is not executed until the previous iteration ends...

[2015-09-20 22:24] dashaus commented on #93
The new event is executed when the previous event ends. I don't know if is possible read the events queue in fswatch

[2015-09-20 23:06] emcrisostomo commented on #93
That's expected: `compile` will have to finish before the next `while` iteration is executed. Use:

    compile.sh &

or

    nohup compile.sh &

instead. It's essential for `compile.sh` to be a separate script.

[2015-09-21 00:06] dashaus commented on #93
Aaaah, ok. I understand now. The `&` is the key. Finally, I can do it in one file:

[code]

It works like a charm! Thanks you both! :+1:

[2015-09-21 00:06] #93 closed

[2015-09-21 00:18] emcrisostomo commented on #93
You're welcome.

I suggested you using a separate script for the compilation job so that it would be easier to isolate its PID and kill it (and its child processes).

I'm glad you've found a working solution.

[2015-09-21 03:50] blaggacao commented on #88
great news! :+1:

[2015-09-21 03:52] v3n commented on #88
@emcrisostomo, it's my understanding that Windows API calls understand Unix paths natively, so that shouldn't be a huge issue. However, I'm sure my testing will reveal whether that's the case or not.

I'll start the integration in the next couple of days.

[2015-09-21 14:49] emcrisostomo commented on #88
Hi @v3n,

No, that's not true. Many Windows APIs understand paths that use the slash (`/`) as path separator, but it's not possible to do so when using UNC paths (which is the only way Windows lets us specify a Unicode string as a path or a path longer than `MAX_PATH`).

Furthermore, UNIX paths don't know anything about what a *drive* is.

The current version of `libfswatch` in the `develop` branc

[2015-09-21 15:18] v3n commented on #88
@emcrisostomo Ah, I see. I've never dealt with UNC paths, that would explain why I didn't know the difference.

The strategy you mentioned seems like a good one.

[2015-09-21 19:15] v3n commented on #88
I've checked in an initial version of the GENie file over here while I'm working on the FSWatch integration: https://github.com/v3n/altertum/blob/feature/fswatch/genie/fswatch.lua

So far it compiles with fine with GENie under OS X. Haven't tested Windows yet, will try to get to that when I get home today. I'm sure I've probably missed a few flags while converting the autotools files. Also haven't

[2015-09-21 20:29] emcrisostomo commented on #88
Cool.

A couple of things:

  * The `FSEvents` monitor is not available on BSD systems, just on OS X.
[code]

  * The `kqueue` monitor may be available on BSD systems but not on Linux:
[code]

  * Yes, you're right: the poll monitor is a `stat()`-based monitor that needs a bunch of POSIX functions.

  * Callers of the C API should not receive exceptions: if it happens, it's bug. There are comments

[2015-09-21 21:25] v3n commented on #88
re: GENie;

- Power; similar to a lighter version of CMake, trades some bloat for the ability to script in Lua.
- Convenience; like CMake, integrates nicely into other build systems without lots of work–i.e. generates Make/Xcode/VS/etc files that you can just drop into your existing files if needed.
- Flexibility; can be a full-stack build generation tool if needed, or just generate a single Makef

[2015-09-21 21:45] emcrisostomo commented on #88
Thanks for your explanation about GENie, @v3n. I'll definitely have a look at your build files: it's always nice to learn new things.

You're welcome, I guess it's normal you haven't tried your build files yet on all those platforms.

About exceptions: yes, I understand your concerns. I'll quickly review the C API tomorrow. I use the C++ one and wrote the C wrapper as a courtesy: but I know that i

[2015-09-22 22:15] nyarly commented on #42
Using the inotify under Linux iirc. I was seeing PlatformSpecific unaccompanied by other useful events, and in reaction to write/create

[2015-09-23 23:26] nyarly commented on #42
All that said, would it be impossible to include a system-specific identifier for those?

[2015-09-25 14:49] emcrisostomo commented on #95
Closed in `1.6.0-develop`.

[2015-09-25 14:49] #95 closed

[2015-09-30 13:18] emcrisostomo commented on #39
Solved in [latest].

[latest]: https://github.com/emcrisostomo/fswatch/releases/tag/1.6.0

[2015-09-30 13:18] #39 closed

[2015-09-30 13:18] emcrisostomo commented on #88
Solved in [1.6.0][latest].
[latest]: https://github.com/emcrisostomo/fswatch/releases/tag/1.6.0

[2015-09-30 13:18] #88 closed

[2015-10-06 22:56] eimajenthat opened #96 "Question on lifecycle of watchers and deduplication"
I stumbled across this utility, and it sounds like a perfect solution for my needs.  I have a couple questions though:
1. What's the lifecycle of my watch?  Does it stop watching as soon as the command is closed, or perhaps when my terminal window is closed?  Or is it persisted somewhere that it lasts indefinitely?
2. How does one stop a watch once started?
3. If you create a duplicate watch is th

[2015-10-06 23:20] emcrisostomo commented on #96
Hi @eimajenthat,

Thank you!

Here are quick answers to your questions:

  * The "watch" runs into the `fswatch` process: as soon as the process terminates so does the watch.
  * Pick your favourite way to terminate a process, being CTRL-C the easiest if you're running `fswatch` in  a terminal.
  * You may have more than one `fswatch` instance running and each one may or may not be watching the sa

[2015-10-13 05:52] kpeterson11 opened #97 "Strange behavior when using -print0 option"
I'm noticing some strange behavior when using the -print0 option on my freebsd 9.3 install.  I'll use examples to explain it.

I run:

fswatch -0 -1 -r /media | while read event; do echo blah; done

I then touch a file in /media and fswatch exits with no error.  The word 'blah' is NOT printed.

I then run:

fswatch -1 -r /media | while read event; do echo blah; done

Then touch a file in /media an

[2015-10-13 10:32] emcrisostomo commented on #97
Hi @kpeterson11,

`read` reads *words* and it must be told how to appropriately read `fswatch` output. When using `-0`, you're telling `fswatch` to end lines with `\0` instead of `\n`. Try using:

[code]

Let us know.

[2015-10-13 15:03] kpeterson11 commented on #97
Using IFS doesn't help either.  I did try that before.  I should've mentioned that earlier.  I also can't use -d in read because I get a message saying -d is an invalid option.  I don't think sh's read supports that.  Bash does.

I tried all of these and they all output nothing when I touch /media.  I've also tried putting IFS after read and that didn't change anything.

# fswatch -0 -1 -r /media

[2015-10-13 16:08] emcrisostomo commented on #97
Hi @kpeterson11,

I'm sorry `IFS` won't do the trick here. `IFS` is used to break a line into fields (I put it because I consider it a good practice). The trick here is `-d`, which is used to specify the delimiter to be used for line splitting instead of `\n`. If your implementation of `read` doesn't have this feature, which you're right it's not portable, I'm afraid you'll have to find another wa

[2015-10-13 21:02] kpeterson11 commented on #97
Ok thanks! I wasn't sure if it was a weird bug with fswatch or not.  It turns out the sh shell doesn't play nice with the null character.  Since I'm using -1 to specify 1 event, not using -0 shouldn't cause any issues.

[2015-10-13 21:02] #97 closed

[2015-10-13 21:08] kpeterson11 opened #98 "Feature Request: Recursively Watch Directories Only"
I'm using fswatch on freebsd.  One of the caveats of using kqueue is file descriptor needs to be used for every directory and file being watched by fswatch.  I am using fswatch to monitor my media directory for new files being added.  It would be nice if there was an option to monitor directories only.  I don't need every file being monitored for changes.  I've never had an issue with running out

[2015-10-13 21:34] emcrisostomo commented on #98
Hi @kpeterson11,

Would you please clarify what you are suggesting? If you don't use the `-r` parameter and pass a directory as an argument, then `fswatch` will watch that directory (non-recursively). Maybe you are suggesting to recursively watch subdirectories only?

I'm a FreeBSD user and it's pretty easy to run out of file descriptors when watching huge file hierarchies. Fortunately, if that's

[2015-10-13 21:46] kpeterson11 commented on #98
I'm suggesting to recursively watch subdirectories only.

Sorry for the confusion.

[2015-10-13 22:23] emcrisostomo commented on #98
Don't worry, thanks, it seems a nice feature to have, indeed.

[2015-10-17 10:44] emcrisostomo commented on #98
Hi @kpeterson11,

If you are willing to build the `feature/recurse-and-watch-directories-only` branch, I've implemented this feature and added the `-d` option.

Please, let me know if you test it.

[2015-10-17 15:38] #96 closed

[2015-10-17 15:43] kpeterson11 commented on #98
I've been using your ports version before and it compiles fine for me.  The recurse-and-watch-directories-only branch does not compile for me.

[code]

[2015-10-18 10:03] emcrisostomo commented on #98
Hi @kpeterson11, we're hitting a clang bug there: I think I hit it on older versions of OS X too. Changing compiler is not straightforward so that don't worry. Thanks for trying.

[2015-10-18 17:05] kpeterson11 commented on #98
I do have clang 3.6 on my freebsd 9.3 install.  Clang 3.6 itself doesn't crash now but I do get other errors.  I did try recompiling libc++ with clang 3.6 thinking that was the cause of the errors but it wasn't.  Here are the errors I get incase they are of help.  I'm assuming this is why you said it's not so straight forward to switch compilers.

[code]

[2015-10-18 19:17] AlainODea commented on #35
Here's an example of someone building a user land program like **inotify-tools** or **fswatch** on File Events Notification based on the article @josephholsten shared:
https://solarisrants.wordpress.com/2013/07/24/solaris-file-event-notification/

[2015-10-18 19:24] emcrisostomo commented on #35
Thanks @AlainODea, that's helpful.

[2015-10-19 14:41] stuaxo opened #100 "install fswatch via chocolatey"
Being able to install fswatch via chocolatey.org would be very useful for windows users.

[2015-10-21 11:29] ricardobeat commented on #60
@emcrisostomo any updates on this?

[2015-10-23 16:39] emcrisostomo opened #101 "Add option to watch file accesses"
Add (`-a`, `--access`) option to watch file accesses.  This functionality is currently provided only by the *File Events Notification* API of the Solaris/Illumos kernels (#35 and #99).

[2015-10-23 16:44] emcrisostomo commented on #35
Development has effectively moved to #99.

[2015-10-23 16:44] #35 closed

[2015-10-23 17:18] #101 closed

[2015-10-23 17:20] emcrisostomo commented on #98
Hi @kpeterson11,

Sorry for the belated answer. Yep, that's the reason why I said it wasn't easy. You may have a compliant compiler but lack a compliant libc. The error you're receiving is telling you just that.

Ok, you'll have to wait until I update the port, which will happen very soon.

[2015-10-23 17:20] #98 closed

[2015-10-23 22:16] emcrisostomo commented on #42
Hi @nyarly,

Sorry for the belated answer. I'm scheduling this issue for inclusion in the current milestone.

[2015-10-24 11:13] emcrisostomo opened #102 "Update Texinfo documentation"

[2015-10-24 11:14] emcrisostomo opened #103 "Add Doxygen support"

[2015-10-28 15:29] brettdh opened #104 "Request: change --include to only print matching paths"
From #82:

I'm going to toss my vote in for 'no' on that question.

Like the submitter of that issue, I found myself thinking `--include` was broken, because paths not matching my filter were getting printed. I'm not sure where this precedent comes from, but my expectation of a filter option named `--include` is that it includes ONLY those paths that match the filter. Perhaps this thinking comes f

[2015-10-28 15:29] brettdh commented on #104
**Warning**: speculation follows. I haven't really thought this through. :-)

The "first filter wins" approach you mentioned in #82 seems sensible, with a catch-all of "print" if there are no filters or only exclude filters, and a catch-all of "don't print" if there is at least one include filter.

[2015-11-12 19:57] arkrozycki opened #106 "centos 7 configure failing cannot find install-sh"
So I'm trying to install this on a centos 7 box. Fresh box, with a yum update. After I install the gnu build system requirements you posted for automake, autoconf, and libtool and run the following:

autoconf
./configure

I'm presented with

configure: error: cannot find install-sh, install.sh, or shtool in config "."/config

Any ideas on how to proceed?

[2015-11-12 20:07] arkrozycki commented on #106
Oh jeez, should have autogen

[2015-11-12 20:07] #106 closed

[2015-11-13 07:13] asyncer opened #107 "Using fswatch with qt"
As you may know QtFileSystemWatcher is weak and I need fswatch features in my cross platform app,
Would you please show me how to go through using fswatch in QT C++ code?

[2015-11-13 22:49] emcrisostomo commented on #107
I guess you'd like to use `libfswatch`. Have you checked out the `libfswatch` [documentation][doc]? If you're a C++ programmer you'll find your way through the `libfswatch` PDF manual.

[doc]: http://emcrisostomo.github.io/fswatch/documentation.html

[2015-11-13 22:49] #107 closed

[2015-12-12 20:52] MintyFresh opened #108 "fswatch piped into xargs running command twice"
Hello, and thanks in advance for any help

I'm working on an fswatch command and a bash script that will redirect my downloads based on file extension. The issue I'm having is that the script is getting run twice per file. In this case, the script moves the file, so the first run works as expected (the file is successfully moved to a different directory), and then a second call to the script gives

[2015-12-13 17:31] emcrisostomo commented on #108
Hi @MintyFresh,

This is documented behaviour of certain monitors, such as the _FSEvents_ monitor you are using on OS X. If different events originate from the same file on a short period of time, then multiple events may carry information about the same event. It's easy to replicate on OS X:

  * Listen on any directory.

  * Create and then immediately remove a file.  You'll get something like t

[2015-12-13 17:31] #108 closed

[2016-01-04 19:39] Tidbits02 opened #109 "install fswatch via rpm/yum"
Hello, I saw the open request to create a debain package and I was wondering if the same can be done for RH / Centos based distro's in Linux that use YUM / DNF.

[2016-01-09 06:39] JLarky commented on #84
timeout option would be very useful, but if you are looking for ways to emulate it in bash, you can look at script I wrote https://gist.github.com/JLarky/8a4033688d516ac9a5d6 basically idea is that I have separate process `timeout` that touches file `TIMEOUT_TMP_FILE` after some time and I have fswatch to watch for both desired directory and this `TIMEOUT_TMP_FILE`.

Keep in mind, that in my scrip

[2016-01-09 14:54] emcrisostomo commented on #84
I'm thinking about adding this feature to the pipeline shortly. To keep things simple, I'm thinking about having `fswatch` generate the heartbeat _always_, even if change events were detected between two consecutive heart beats. Any feedback on this?

[2016-01-09 15:00] emcrisostomo opened #110 "Adding preemptive monitor stop support"
Currently, monitors can `start()` but cannot be stopped: add a `stop()` function to signal the monitor it has to stop as soon as possible.

[2016-01-09 17:48] seaside98 opened #111 "Some file changes are not triggering fswatch"
Using FSEvents on OSX.

I am using fswatch to watch for newly encoded videos on our server. The video is written to a temporary file, and then renamed to the correct file name when the encode is complete. The temporary file's creation and deletion both trigger fswatch, but the renamed file does not. I have also noticed that system log files also don't trigger fswatch when they are written to. Are

[2016-01-10 14:16] emcrisostomo commented on #111
Hi @seaside98,

`fswatch` is getting all the events without filtering any, unless of course you specify a filter (path, event type or both) yourself. Here's a test run of the latest release on OS X:

[code]

As you can see, `fswatch` detects the creation of `before.txt` and it's renaming to `after.txt`.

If you still have problems, you should give additional information about what you're doing:

[2016-01-10 14:16] #111 closed

[2016-01-30 16:20] #103 closed

[2016-01-30 16:21] emcrisostomo commented on #110
Fixed in 1.8.0.

[2016-01-30 16:21] #110 closed

[2016-01-30 16:21] emcrisostomo commented on #103
Fixed in 1.8.0.

[2016-02-11 16:01] matiaseidis opened #112 "Libtool library used but 'LIBTOOL' is undefined"
Trying to autogen.sh it I get

src/libfswatch/Makefile.am:21: error: Libtool library used but 'LIBTOOL' is undefined
src/libfswatch/Makefile.am:21:   The usual way to define 'LIBTOOL' is to add 'LT_INIT'
src/libfswatch/Makefile.am:21:   to 'configure.ac' and run 'aclocal' and 'autoconf' again.
src/libfswatch/Makefile.am:21:   If 'LT_INIT' is in 'configure.ac', make sure
src/libfswatch/Makefile.am:

[2016-02-11 21:26] emcrisostomo commented on #112
Hi @matiaseidis, that error usually means that `libtoolize` hasn't ben run and since it should be run by `autogen`, the question is: can you check GNU `libtool` is installed in your system?

[2016-02-12 08:11] matiaseidis commented on #112
Hi @emcrisostomo,
Yes, it is installed

libtool --version
libtool (GNU libtool) 2.4.6
Written by Gordon Matzigkeit, 1996

[2016-02-12 16:09] emcrisostomo commented on #112
That's strange indeed.

What happens if you run `libtoolize` manually?

[2016-02-15 07:28] rivaros opened #113 "fswatch suddenly stops tracking changes on OSX"
Weird problem on OSX 10.10.5 Yosemite (fwatch 1.5.1).
Occasionally fswatch stops tracking filesystem changes.
When you run `fswatch .` and then change/add some files in current directory, no output is received.

Killing all instances of fswatch and starting again does not help.
Only solution is rebooting system.

Having this happening like every 7th day actively using fswatch everyday.
Probably it

[2016-02-15 11:53] emcrisostomo commented on #113
Hi @rivaros, thanks for the report, I never experienced this issue.  I'll try to have a look at it.

[2016-02-15 12:45] matiaseidis commented on #112
same output / results

Thanks

2016-02-12 17:09 GMT+01:00 Enrico Maria Crisostomo <notifications@github.com

[2016-02-15 13:15] emcrisostomo commented on #112
Doh! I'm using a Debian VM to develop and test the `inotify` monitor.  I'll have to fire an Ubuntu 15.04 VM to troubleshoot this myself.

[2016-02-21 12:00] Spiritdude opened #114 "fswatch (inotify) does not track newly created dirs recursively"
On Linux (Ubuntu 15.10):

% fswatch -drx ./
% mkdir a
% cd a; touch zz.txt

No notification of zz.txt is happening, but creation of dir a/ is happening.

[2016-02-21 18:22] emcrisostomo commented on #114
Bug acknowledged.

[2016-03-03 09:11] hellsguardian95 opened #115 "Install fswatch on iOS and Android"
Is it possible to install fswatch on the iOS and Android platforms? If yes, how can I achieve the same?

[2016-03-08 18:24] ptarjan commented on #47
:+1:

[2016-03-09 07:07] hellsguardian95 opened #116 "Event Flag Separator doesn't work"
I'm trying to separate the event flags using a character/string but it isn't working.
--event-flag-separator="Any character/string" does not print any event flags let alone separate them.

[2016-03-09 10:13] emcrisostomo commented on #116
Hi @hellsguardian95, that option does not turn on event flags. The [documentation] will help you.

Hint:

[code]

[documentation]: http://emcrisostomo.github.io/fswatch/documentation.html

[2016-03-09 10:13] #116 closed

[2016-03-09 10:14] emcrisostomo commented on #116
I will change the description of the `--event-flag-separator` option in case it seems to imply that it _also_ turns event flags on.

[2016-03-11 18:52] grayside commented on #60
globstar is supported by default on Bash 4

[2016-03-11 18:53] febbraro opened #117 "Events are inconsistent on OSX"
I have encountered a few interesting things while testing this out on OSX.  The first is that on new command starts for a while all changes are reported as `PlatformSpecific` and then it appears that after a while I start getting proper event notifications for touches and file edits, etc.

Secondly, I am getting `Created` events for both file creations AND deletions.  This, again, sometimes disapp

[2016-03-11 19:42] emcrisostomo commented on #117
Hi @febbraro,

Thanks. The events are reported by `fswatch` exactly as reported by OS X: there is a mapping (which is meant to make `fswatch` report the same events on different platforms) which is pretty coarse at the moment (that's the reason for the existence and abundance of `PlatformSpecific` flags). Apart from that, what you are experiencing is normal OS X behaviour.

As far as deletions are

[2016-03-11 19:42] #117 closed

[2016-03-11 19:44] emcrisostomo commented on #60
Hi @ricardobeat, I'm afraid this issue hasn't been worked on yet.

[2016-03-11 19:52] emcrisostomo commented on #113
Unable to replicate.

[2016-03-11 19:52] #113 closed

[2016-03-11 22:34] emcrisostomo commented on #114
Hi @Spiritdude,

This should be fixed in the `<develop>` branch.  Would you mind testing it? It will take me some days to rebuild and test `fswatch` in all the supported platforms.

[2016-03-12 08:55] Spiritdude commented on #114
I just tested it briefly:
1) created new dir xx/, ok
2) created new file xx/aa.txt, ok
3) created new dir xx/yy/, ok
4) created new file xx/yy/bb.txt, ok

:-) so it seems fixed, thanks!

[2016-03-12 09:00] Spiritdude commented on #114
Perhaps close issue when the fix is in the main branch available.

[2016-03-12 12:28] emcrisostomo commented on #114
Thanks @Spiritdude for testing this one!

I think we can close this: the _milestone_ tag (`1.9.0`) specifies the release that will include this fix.

[2016-03-12 12:28] #114 closed

[2016-03-12 12:31] emcrisostomo commented on #115
Hi @hellsguardian95:

  * iOS: the `kqueue` monitor may indeed work.  However, porting `fswatch` to iOS doesn't really make sense.  Perhaps you're thinking about using `libfswatch` on iOS: I haven't tried and currently have no plans on doing it.

  * Android: no idea here.

Closing as for the moment.

[2016-03-12 12:31] #115 closed

[2016-03-12 23:08] emcrisostomo commented on #112
Hi @matiaseidis, I've just installed an Ubuntu 15.10 VM, installed the autotools (autoconf, automake, autopoint, libtool and gettext) and run `autogen.sh`.  I'm afraid I found no issues: everything from `autogen.sh` to a complete build runs without issues.  Did you try on a clean Ubuntu installation?

I'm afraid I'm closing this unless further information is provided.

[2016-03-12 23:08] #112 closed

[2016-03-12 23:10] emcrisostomo commented on #112
Also, I just noticed that when I asked about `libtoolize` you answered about `libtool`.

[2016-03-13 11:12] #84 closed

[2016-03-15 19:05] matiaseidis commented on #112
hey man, thanks for the support.
I answered about libtoolize that time you asked.
I am running debian now, so I will give it a try and let you knwo if any new issue.

Bests

[2016-04-06 17:30] jpeddicord opened #118 "v. 1.9.0 breaks the -1 option"
I'm on OS X 10.11.4 and have been using fswatch in some scripts to monitor file changes. After a recent upgrade to 1.9.0 (now 1.9.1), I'm noticing that fswatch doesn't seem to work like it used to; specifically the "-1" flag will hang instead of exiting on a change:

[code]
I just ran `touch f` in another window while fswatch was running. Instead of exiting on change, it appears to hang with no re

[2016-04-10 16:15] emcrisostomo commented on #118
Hi @jpeddicord, my bad, I acknowledge this is a bug.  Thanks for the report.

[2016-04-11 22:31] emcrisostomo commented on #118
Fixed.

[2016-04-11 22:31] #118 closed

[2016-04-12 16:56] jpeddicord commented on #118
Thanks for the fix! I appreciate it. 😄

[2016-05-02 19:41] emcrisostomo opened #119 "Merge libfswatch and fswatch into the same autoconf files"

[2016-05-15 11:13] ivarref commented on #86
Hi @rhacker I've made an example at SO for this: http://stackoverflow.com/questions/34713278/fswatch-to-watch-only-a-certain-file-extension/37237522#37237522

[2016-05-15 11:15] emcrisostomo commented on #86
Thanks @ivarref, your SO answer is indeed correct.

[2016-06-04 18:48] tenderlove opened #120 "C API Support"
Hi,

I'm having troubles with the C API.  It seems like the C targeted header files are still trying to pull in C++ headers.  For example [`<ctime>` isn't available](https://github.com/emcrisostomo/fswatch/blob/master/libfswatch/src/libfswatch/c/cmonitor.h#L29), and neither is [`<climits>`](https://github.com/emcrisostomo/fswatch/blob/a79113ac6635620bd8e70565b5f6acfec8dc4e00/libfswatch/src/libfswa

[2016-06-05 12:48] emcrisostomo commented on #120
Hi @tenderlove,

I don't know about the `configure` error: it sounds like something is missing.  I'm using OS X as main development platform for `fswatch` and that shouldn't happen.  Did you `autogen.sh` the sources or started from a [source distribution][source]?

As far as the other errors and warnings, I can fix them, but I'd like to see exactly the errors you're getting. It's true that the it'

[2016-06-05 16:22] emcrisostomo commented on #120
@tenderlove, would you please check out the `hotfix/1.9.3` branch and try it?

[2016-06-14 22:15] jeroenooms opened #121 "realpath on mingw-w64"
Trying to build on windows with msys2 (`mingw-w64`) fails with:

[code]

From what I understand from [this issue](https://sourceforge.net/p/mingw/bugs/2207/), realpath is actually not a standard ansi/posix function and therefore mingw-w64 does not implement it.

This [topic](https://sourceforge.net/p/mingw/patches/256/) seems to have a working version of realpath for windows. Perhaps we could incl

[2016-06-20 18:45] smukkecharlie commented on #120
Hi there, I just tested the 1.9.3 branch against clang gcc on OSx. There still are some minor compilation issues. Listed below. For full details look [here](https://dotdideriksen.blogspot.se/2016/06/git-branching-fswatch-to-test-c.html)

$ gcc -I /usr/local/include -o "fswatch_test" fswatch_test.c /usr/local/lib/libfswatch.a
In file included from fswatch_test.c:3:
In file included from /usr/local/

[2016-06-22 10:56] johndid commented on #120
Once the compilation errors are fixed, the linker (ld) reports many issues with missing c++ objects. Would you like me to report these issues here? or commit my changes to the branch?

[2016-06-23 01:39] emcrisostomo commented on #120
Hi @johndid, thanks for the work you're doing: the C library really needed this.  I will review all the information you already provided.  If you prefer contributing your changes, feel free to fork `fswatch`: since there are already many changes, it would be better to open a `feature` branch (have a look at [this][flow] if you're new to `git flow`).

[flow]: http://nvie.com/posts/a-successful-git-

[2016-06-26 13:44] emcrisostomo commented on #121
Working on [`feature/realpath-win32`][realpathwin32].

[realpathwin32]: https://github.com/emcrisostomo/fswatch/tree/feature/realpath-win32

[2016-06-27 18:50] gaborcsardi commented on #121
@emcrisostomo You mean that it works already, or that you are working on it? :) Thanks!

[2016-07-01 06:58] emcrisostomo commented on #121
Hi @gaborcsardi, you're welcome.  It means that I'm working on it on that branch.

[2016-07-04 18:26] kdawgwilk opened #122 "Support for SPM (Swift Package Manager)"
I am looking at creating a Swift library to hot reload code and came across this library.  It seems like a good place to start seeing that it supports cross platform file system events.  I will be looking into adding this support if its even possible at this point since SPM is still young.  Here is a resource for those that might be interested in helping that explains how Swift can use C dependenc

[2016-07-06 02:13] ikeda-yuko opened #123 "Output one file event per single line"
I want to output one file event per single line

running this command...
`` fswatch --format ‘%p, %f’ ~/test/``

and execute this command.
``touch ~/test/test.txt``
``rm ~/test/test.txt``

then I got such output.
[code]
but, I want to get such output.
[code]

[2016-07-06 05:44] johndid commented on #120
You're welcome @emcrisostomo. I'll have a look at the process stuff you linked above and see what I can do about it.

[2016-07-13 21:23] serialoverflow opened #125 "File/Folder access event"
Hey,

do you think it's reasonable to expose a new `Accessed` event that indicates if a file or folder was accessed?
An example use case would be the cloud synchronization client i'm trying to build that uses lazy loading to load the content of folders or even individual files ad hoc once they're accessed.

I noticed that you are already sending a PlatformSpecific event like that for inotify and F

[2016-07-14 01:50] muyinliu opened #126 "fsw_start_monitor never return while calling from CFFI"
I use CFFI(Common Lisp) to wrap **libfswatch**, foreign function `fsw_start_monitor` never return, is it `fsw_start_monitor` a blocked function? Should I wrap `fsw_start_monitor` calls in a thread?

[2016-07-14 03:57] muyinliu commented on #120
Thanks, @johndid. Your demo [fswatch_test.c](https://github.com/johndid/playground/blob/master/c/fswatch_test.c) is really helpful.

I'm writing a CFFI(Common Lisp) wrap cl-fswatch to libfswatch, few days later it will be upload to GitHub.

[2016-07-14 18:58] mickaelperrin opened #127 "fswatch not available in alpine docker"
Hi,

That would be great if there was a `fswatch` package available for [alpine linux](https://wiki.alpinelinux.org/wiki/Creating_an_Alpine_package).

That would be so useful when using in docker containers to reduce drastically the image size by removing all not required `build` tools.

Thanks

[2016-07-19 07:31] DeanHH opened #128 "Does it c99 support?"
Problem happend when I try to build my c99 project with fswatch.The `#include <ctime>` is not found.

[2016-07-23 15:40] emcrisostomo commented on #123
This could actually be useful: flagged.

[2016-07-23 15:48] emcrisostomo commented on #126
Hi @muyinliu,

Yes, `monitor::start()` and its C wrapper `fsw_start_monitor` are blocking function calls.  You should definitely manage threading yourself if you wanted to invoke them.  It could be as easy as firing the monitor in a separate thread and just rely on the callback to receive change events.

[2016-07-23 15:48] #126 closed

[2016-07-23 16:17] emcrisostomo commented on #128
That's a known bug: C files are sometimes using C++ header names and that result in a build failure when using a C compiler.  That's being worked on `1.9.3`.

Closed as duplicate of #120.

[2016-07-23 16:17] #128 closed

[2016-07-23 16:19] emcrisostomo commented on #120
Hi @johndid, thanks for the pull request: I've just merged it.  I will test it with the `fswatch_test.c` file you contributed and if it's ok I will publish `1.9.3`.

[2016-07-23 16:24] emcrisostomo commented on #125
Hi @serialoverflow,

Flagged as enhancement: I will have a look at your suggestion to see which monitors it is compatible with.

As far as building on CygWin: I'm actually building on CygWin 64 bits and never had any issues.  Could you please post the errors you receive?

[2016-07-23 17:19] emcrisostomo commented on #120
Fixed in [1.9.3][release].

[release]: https://github.com/emcrisostomo/fswatch/releases/tag/1.9.3

[2016-07-23 17:19] #120 closed

[2016-07-24 09:19] tunezaq commented on #47
@hadret looks like your repository is down :(
[code]

[2016-07-25 08:17] johndid commented on #120
Glad I could help ;)

[2016-08-11 04:57] doutriaux1 opened #129 "conda port?"
it would be nice to have a conda port of fswatch

[2016-08-23 19:03] keynan opened #130 "Support for apt-get pls </eom>"

[2016-08-25 03:59] shancheng966 opened #131 "How to make fswatch run automatically by use the Launchd ?"
It seems fswatch didn't work when I use Launchd to make the fswatch auto run, I don't know how to solve that issue , is anyone can help me ? Thanks a lot
[statckoverflow link to my issues](http://stackoverflow.com/questions/39117728/fswatch-can-not-work-when-i-try-to-use-launchd)

[2016-08-30 05:59] videni opened #132 "Doesn't work in Windows subsystem Ubuntu"
[code]

[code]

[2016-09-07 01:11] AbdulHadiParsdorfer opened #133 "Pipe fswatch output into a shell script"
Hi,
I tried to pipe the output of fswatch to several commands in a shell script with following technique:
$ fswatch -0 [opts] [paths] | xargs -0 -n 1 -I {} [command]
Instead of [command] I put the shell script path.

`fswatch -0 -Ie ".*\.*$" -i ".*\.mp4$" /Users/abdulhadi/Desktop/encoding\ tests | xargs -0 -n 1 -I {} /Users/abdulhadi/Desktop/s3cmd.sh`

The script is following:

`#!/bin/sh
terminal

[2016-09-12 16:48] fernandomora commented on #60
+1

[2016-09-14 20:34] ricardobeat commented on #60
In the meantime, [git-check-ignore](https://git-scm.com/docs/git-check-ignore) allows deferring this logic to`git` itself: `fswatch . | while read file; do git check-ignore -q $file || echo $file; done`

[2016-09-15 07:17] emcrisostomo commented on #133
I'm sorry this general scripting question is off topic here and I can't debug your script without even knowing what's going wrong.  The general approach, though, is correct.

[2016-09-15 07:17] #133 closed

[2016-09-15 14:59] denilsonsa opened #134 "fswatch reports files/directories that are being read (Linux/Ubuntu/inotify_monitor)"
How to reproduce:

1. Run `fswatch .` in one terminal (or `fswatch -m inotify_monitor).
2. Open another terminal.
3. Execute one of: `ls the_directory_where_you_are` or `cat some_file_inside_the_directory`

Results (output of `-x` option):

    /home/foo/bar IsDir
    /home/foo/bar PlatformSpecific

Expected results: Only modified files/directories should be changed. Reading a directory or a file

[2016-09-18 03:33] alimousazy opened #135 "Provide a function for pull notification instead of callback"
I'm trying to implement luajit agent for transferring logs to Graylog.

The issue I'm facing callback is really slow between luajit and C code while luajit program is fast in calling C code the other way around is really slow and hard to optimize .

 I'm thinking about pulling function which luajit code can call to wait for events.

Any ideas ?

[2016-09-20 18:06] alimousazy commented on #135
I'm not sure why the library in GPL ? this is really make it hard to contribute to or even fork the project .

[2016-09-22 01:17] Andrepuel opened #136 "`on_stop()` is not called on destruction of a monitor"
Destruction happens bottom-up, meaning that once the `~monitor` method is executing, the subclass is not existent anymore and the `on_stop` method will dispatch to the no-op one.

This is a blocking issue for who is using the C binding as destroying a monitor is the only way to stop it.

I suggest that every subclass of `monitor` should call `stop()` explicitly.

[2016-09-22 01:21] Andrepuel opened #137 "Deadlock on C function `fsw_destroy_session` if `fsw_start_monitor` was called."
`fsw_start_monitor` will acquire the session mutex and will invoke `session->monitor->start()` with this mutex locked. The only way to stop the monitor (and thus release the mutex) using the C bindings is to destroy the session, but the `fsw_destroy_session` will also try to acquire the mutex.
An application that tries to stop the monitoring by destroying the session will deadlock.

[2016-09-24 16:33] emcrisostomo commented on #137
What about line 865:

[code]

where the mutex is released before invoking:

[code]

Please, feel free to reopen the issue if you have more information to add.

[2016-09-24 16:45] emcrisostomo commented on #136
The destructor calling `stop()` was meant as a safety net: each monitor should be stopped gracefully with `stop()`. The C binding is missing a `stop()` function and that's what I think we should add for starters.

[2016-09-25 10:54] emcrisostomo commented on #121
Hi MinGW users, would you mind trying to build the feature/windows-realpath branch?

[2016-09-25 11:00] emcrisostomo commented on #135
Why are you unhappy about `fswatch` and `libfswatch` being licensed under the GPL? The GPL doesn't make forking and contributing more difficult, in my opinion. Would you please elaborate on your reasons?

[2016-09-26 10:18] dozaza opened #138 "Problems in watching files recursively"
Hi,

I got something very strange in watching file with `Ubuntu 16.04` and `fswatch 1.9.3 `.

First, I do some test in an empty directory, run `fswatch -drx ./ | grep -E "(Created|Updated|Removed)"` , `mkdir test`, `touch test/a.sh`. It gives me the right results:
`/home/baoan/dev/git/test_sync/test Created`
`/home/baoan/dev/git/test_sync/test/a.sh Created`
`/home/baoan/dev/git/test_sync/test/a.sh

[2016-09-26 11:31] Andrepuel commented on #137
By session mutex, I meant https://github.com/emcrisostomo/fswatch/blob/master/libfswatch/src/libfswatch/c/libfswatch.cpp#L857.

    unique_ptr<mutex>& sm = session_mutexes.at(handle);
    lock_guard<mutex> lock_sm(*sm.get());

[2016-09-27 03:38] dozaza commented on #138
I think I found the reason.

I tried to use fswatch under a directory which contains about 8260 files.

I waited for about 15 seconds to get the response of fswatch when creating a new file by `touch`.

So I think the reason why there is no response in my first post, is that fswatch is doing some initialization (loop directory recursively).

Is there any solution of big/huge file system watching?

[2016-09-28 19:43] gaborcsardi commented on #121
@emcrisostomo Thanks! It is improving I believe, I get now:

[code]

I don't know if msys2 has regcomp.

[2016-09-28 19:45] gaborcsardi commented on #121
Maybe it is in glib2, trying now....

[2016-09-28 19:48] gaborcsardi commented on #121
Unfortunately not. Anyway, thanks for the fix, that takes us one step closer.

[2016-09-30 16:03] mfornasa commented on #134
Seeing the same issue. Possible fix?

[2016-10-02 12:05] emcrisostomo commented on #138
Hi, Linux `inotify` API returns events about first-level children of a directory. Hence, if you're recursively watching a directory hierarchy, `fswatch` will navigate through it and add an `inotify` watch for each directory. If you have a lot of files into the hierarchy there's a certain overhead because each file is `stat()`-ted.

I've made some test on dockerized instances of Debian, Ubuntu and

[2016-10-02 12:05] #138 closed

[2016-10-04 14:53] denilsonsa commented on #134
Quick and dirty workaround: use the following shell script wrapper.

[code]
This wrapper will not work if your files contain space characters.

[2016-10-04 16:08] karptonite opened #139 "Batched notifications in OS X with git branch change"
I'm using fswatch 1.9.3 on OS X 10.11.6 with git 2.10.0. I'm watching the top level of a git repository with the following command:
`fswatch -o -l 5 --exclude "[reasonable excludes]" "/path/to/repo"`
When I checkout a different branch of the repo, I immediately get the following from fswatch:
32
32
32
32
32
32
32
13
9
This is not the same notification over and over--rather (I know from running it

[2016-10-05 11:58] emcrisostomo commented on #139
Hi @karptonite,

`fswatch` has no clear way to group events received by the operating system because they are file system change events, and they have no time boundaries. If the OS X API returns them on batches of a specific size is an implementation detail. Even if it that size could be raised, which I doubt (but I'll check), you could hit anyway the new max, and we'll be back at square one.

[2016-10-05 17:43] karptonite commented on #139
Thank you. That makes sense. It may be that fswatch is not the right tool for what I am trying to do, and I am now investigating watchman as an alternative.

[2016-10-05 17:43] #139 closed

[2016-10-07 17:37] axfelix commented on #100
+1

[2016-10-24 19:47] joshcameron opened #140 "Can't combine --include/--exclude with --event?"
I am trying to use `fswatch` to trigger a script which deletes `.DS_Store` files under my home directory as they are created/updated.

I can restrict `fswatch`'s output to operations on `.DS_Store` files using `--exclude=".*" --include="DS_Store"`. I also want to refrain from triggering my script when `.DS_Store` files are deleted -- especially since it's likely they are being deleted by my script

[2016-10-25 23:27] emcrisostomo commented on #137
I've patched the [develop] branch and now the session mutex is released before starting the monitor. Would you please test it?

[develop]: https://github.com/emcrisostomo/fswatch/tree/develop

[2016-10-26 00:25] emcrisostomo commented on #140
I'm not able to reproduce this behaviour. Can verify that `fswatch` is outputting the wrong events by examining its output without going through your script?

[2016-10-26 19:18] joshcameron commented on #140
Looking at my command lines again today, I think I was experiencing a combination of errors on my part, only two of which `fswatch` could do a better job of handling. And I've misreported what I was doing in my issue above.

My main problem was a malformed regex on `--include`. I was using `*\.DS_Store` when I should have been using `.*\.DS_Store`. The former matched nothing, but I guess I just ha

[2016-10-29 16:06] emcrisostomo opened #141 "Add Docker files for Linux distributions used for testing"
Add Docker files for Linux distributions used for testing:
- Debian
- Alpine

[2016-11-06 03:07] Andrepuel commented on #137
In my scenario, I have two threads. The second thread will be running the fsw_start_monitor and the main thread will eventually invoke fsw_destroy_session.
I can confirm that the fsw_destroy_session is not deadlocking anymore on the main thread. However, the second thread will still be stuck in the fsw_start_monitor call due to the the issue https://github.com/emcrisostomo/fswatch/issues/136.

[2016-11-06 03:13] Andrepuel commented on #137
By the way, if you don't mind me asking. Why did you choose the handle approach to identify the sessions in the C API?
With the alternative of returning an opaque struct pointer (`struct FSW_SESSION; typedef struct FSW_SESSION* FSW_HANDLE;`) you would be able to get rid of all the mutexes and the logic of maping a handle to the actual struct.

[2016-11-06 03:23] Andrepuel opened #142 "Static library will not have any monitor type available"
The way that monitor types are registered will not work with static libraries. The technique of creating a static object and inserting code in its constructor does not work with static libraries because the linker will discard any symbol that is not used, since no symbol from the file that contains the static constructor is used, the linker assumes it is safe to remove the static construtor at all

[2016-11-17 08:15] emcrisostomo commented on #140
Thanks for the explanation @joshcameron.

[2016-11-17 08:15] #140 closed

[2016-11-20 18:11] emcrisostomo opened #143 "Add fsw_stop_monitor to the C API"
A `fsw_stop_monitor` is missing from the C API.

[2016-11-20 18:13] emcrisostomo commented on #136
Created #143 to provide a mean to stop a monitor from the C API.

[2016-11-20 18:15] emcrisostomo commented on #136
I'm considering updating the `monitor` behaviour to fail in some way (probably call `std::terminate`)  if a monitor is destroyed while still running.

[2016-11-20 18:15] #143 closed

[2016-11-20 18:17] emcrisostomo commented on #137
@Andrepuel:

Thanks.

Please see #143. Basically, a monitor should be stopped explicitly by calling `fsw_stop_monitor`.

You can try out the [`release/1.10.0`][rel] branch.

[rel]: https://github.com/emcrisostomo/fswatch/tree/release/1.10.0

[2016-11-20 18:20] emcrisostomo commented on #137
@Andrepuel:

A choice that backfired. I already made that refactoring on [`release/1.10.0`][rel].

[rel]: https://github.com/emcrisostomo/fswatch/tree/release/1.10.0

[2016-11-20 18:22] emcrisostomo commented on #137
@Andrepuel,

This:

and #143 should be enough to close this issue.

[2016-11-20 22:35] Andrepuel commented on #137
Using `fsw_stop_monitor` there is no deadlock anymore.

[2016-11-20 22:35] #137 closed

[2016-11-22 10:11] JSB97 opened #144 "-x option: possible bug?"
Making use of ```# fswatch 1.9.2 ```, with the following command in directory ```./tmp```.
[code]
When copying a file from another directory to ```./tmp```,  I get the following output;
[code]
When deleting the same file in ```./tmp```,  I get below;
[code]

I would have expected to see ```Created IsFile``` when running ```cp``` and ```Removed IsFile``` upon execution of ```rm```, but is there a r

[2016-12-01 10:26] emcrisostomo commented on #144
Are you running `fswatch` on OS X? OS X may return event flags of previous events for the same file if they occur sufficiently close in time.

[2016-12-01 10:26] #144 closed

[2016-12-01 18:23] agaida opened #149 "ITP 846401 - Bringing fswatch to debian"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=846401
* this should make several bugs in the tracker obsolete
* some remarks, i was asked about the monitor math - four monitors for six or so available monitors in the list - Maybe this should be changed (README.md).
* i would like to have 1.10.x in the next debian stable - the 1.9.3 tar ball is somewhat of messed up (ok, i could create a own one

[2016-12-02 17:36] malhal opened #150 "not detecting changes to SQLite in WAL mode"
On OS X 10.11.6 with fswatch 1.9.2

[code]

Make a change to the database and no file changes are reported despite them having changed, timestamps updated. Reporting this issue because the Readme said there are no known issues with FSEvents method.

[2016-12-03 13:00] ihorman commented on #66
Hi Enrico,
First of all I want to say thanks for the application, it's realy nice
Looks like the regex in "--exclude" directive this doesn't work

I am running an application, version 1.9.3, in this way
fswatch --monitor=poll_monitor --exclude='.zfs' -r /mymountedfolder/
when I do strace -p <PID of fswatch> I still can see it makes
lsstat ('/mymountedfolder/.zfs/lotsofdata-that-need-to-be-excluded

[2016-12-03 13:12] emcrisostomo commented on #66
Hi @ihorman,

This definitely looks like a different issue. Furthermore, this one is marked as close. Would you please open a new one? I'll have a look at it in the next few days.

[2016-12-05 00:34] emcrisostomo commented on #149
Hi @agaida, thanks for your work.

Awesome.

My goal is to release before the end of the year.

[2016-12-05 09:59] emcrisostomo opened #151 "Excluded items are recursively scanned nonetheless"
@ihorman originally wrote this comment on #66:

Hi Enrico,

First of all I want to say thanks for the application, it's really nice. Looks like the regex in `--exclude` directive this doesn't work

I am running an application, version 1.9.3, in this way:

[code]

when I do `strace -p <PID of fswatch>` I still can see it makes

[code]

the problem in my case I have 21 million of files and I need to

[2016-12-05 09:59] emcrisostomo commented on #66
Opened #151

[2016-12-05 16:04] emcrisostomo commented on #151
Hi @ihorman,

The issue with the current filters implementation is that `fswatch` has no way to know whether or not it is safe to exclude entire subtrees from the watched file system objects (in your example, subtrees rooted in directories called `.zfs`). The reason is that, with no further information or reasoning, a child of that directory could not match the filter that excluded the subtree, or

[2016-12-06 09:27] ihorman commented on #66
Dear Enrico,

Thank you!

Best Regards,
Ihor

2016-12-05 10:59 GMT+01:00 Enrico Maria Crisostomo <notifications@github.com

--
Best wishes and regards
           Ihor Kolodyuk

[2016-12-06 09:31] ihorman commented on #151
Dear Enrico,

Thank you for clarifications.

[2016-12-06 11:03] emcrisostomo commented on #151
@ihorman,

Realising that's a blocker for you, I volunteer changing it so that a matched exclusion causes the entire subtree to be ignored but for the reasons mentioned above I cannot do that on the mainstream `fswatch`. Instead, I could do that on an `experimental/` branch you could grab and use. Even so: I cannot guarantee when and if those change would make into `develop`, since the more I thin

[2016-12-06 11:34] ihorman commented on #151
Dear Enrico,
I really appretiate your intentions to help me and want to thank you for this, but please, don't waste your time if you think that this will not be helpfull to other people except me, I can do a workarround for now, I can do a specific build just for me and this particular case (in a hardcoded way)

Thank you!

Best Regards,
Ihor

[2016-12-07 11:40] emcrisostomo commented on #150
Hi @malhal,

I've just tried to replicate it and I confirm that the FSEvents API does _not_ return an event in the situation you describe. If I'm mistaken about something, I don't know what it is. The fact that Finder doesn't detect the change either is a strong indicator that FSEvents is incapable of detecting it.

This issue is worth some research time.

[2016-12-08 00:34] #141 closed

[2016-12-19 22:10] shanavar opened #152 "fswatch doesn't notify on file changes on FreeBSD"
When I run fswatch it notifies file when a file gets created or removed, but doesn't notify when the file is changed.

So if I run fswatch with
[code]

and then do either `touch /root/test.txt` or `rm /root/test.txt`, then fswatch reacts. If I change a file (e.g. run `echo "test" >> test.txt`) fswatch remains silent.  I installed fswatch through the FreeBSD port provided here (version is 1.7.0.):

[2016-12-22 00:04] AbdulHadiParsdorfer opened #153 "How to make Event Filters work?"
Hi,

I found following in your manual:

I applied it as following on a OS X machine:

`fswatch -0 -x --event Created --event Updated --event Renamed -Ie '.*\.*$' -i '.*\.mp4$' /path/to/folder | xargs -0 -n 1 /path/to/script.sh`

But the filter does not work. If I remove an item the event is passed over to the script which should not happen if I understood your description correctly.

How can I sol

[2016-12-31 23:51] emcrisostomo commented on #153
Hi,

Since you don't clearly specify the order of events that trigger the problem, I cannot but guess what's happening.

I think the problem is a consequence of how OS X delivers events about the same path that happen in a short period of time. For example: if you create a new file `x`, you'll receive (using `fswatch` jargon from now on) a `Created` event for  `x`. If you then remove `x`, OS X may

[2016-12-31 23:51] #153 closed

[2017-01-01 12:42] emcrisostomo commented on #60
Being able to exclude files is important so that `fswatch` can exert a lesser load on the system, especially when the monitor uses limited resources such as file descriptors. Trimming an otherwise huge file hierarchy is a feature that is definitely required. Maintaining the current implementation (a `fswatch`-specific syntax) is OK to me.

Having `fswatch` understand other exclude file types may b

[2017-01-01 12:42] #60 closed

[2017-01-01 12:53] emcrisostomo commented on #152
Cool, I understand from your edit that this issue can be closed then.

[2017-01-01 12:53] #152 closed

[2017-01-01 12:56] emcrisostomo commented on #149
Hi @agaida,

The `1.10.0` milestone has no outstanding issue. Please, let me know if you need my help. In the meantime I'm _not_ closing the release branch for a few more days, to wait and see whether this issue requires some change in the code base.

[2017-01-01 13:12] emcrisostomo commented on #130
Since no further indication is given, I'm considering this a duplicate of #149

[2017-01-01 13:12] #130 closed

[2017-01-01 13:13] emcrisostomo commented on #47
Superseded by #149

[2017-01-01 13:13] #47 closed

[2017-01-01 13:15] emcrisostomo commented on #132
This system is not supported.

[2017-01-01 13:15] #132 closed

[2017-01-01 21:04] AbdulHadiParsdorfer commented on #153
Hi,

thank you for your answer.
I want to use fswatch for a watch folder to upload videos with s3cmd.
I want to filter the events `Created`, `MovedTo`, `Renamed` and `Updated`.
`Created` works for new created files. `MovedTo` does not give any event and `Updated` throws only an event if you create a new file. `Renamed` gives for almost everything an event. If you move the file in, if you move it o

[2017-01-01 21:09] AbdulHadiParsdorfer opened #154 "How to make Event Filters work? > Event Filters on OS X"
Hi,

thank you for your answer.
I want to use fswatch for a watch folder to upload videos with s3cmd.
I want to filter the events `Created`, `MovedTo`, `Renamed` and `Updated`.
`Created` works for new created files. `MovedTo` does not give any event and `Updated` throws only an event if you create a new file. `Renamed` gives for almost everything an event. If you move the file in, if you move it o

[2017-01-01 23:15] emcrisostomo commented on #154
Please, do **not** paste a conversation. Furthermore, the conversation is an existing issue (#153).

[2017-01-01 23:15] #154 closed

[2017-01-04 09:07] #119 closed

[2017-01-10 19:15] kennyedgar opened #155 "output to log and potential analysis"
I would like to output fswatch to a log file for analysis... for example, determining change rate of a directory.  I have tried a simpe redirection to no avail

`fswatch -rx dir > logfile.txt`
`fswatch -rx dir 2> logfile.txt`
`fswatch -rx dir 1> logfile.txt`
`fswatch -rx dir &> logfile.txt`
`fswatch -rx dir 2&1> > logfile.txt`

[2017-01-10 19:20] kennyedgar commented on #155
Nevermind, this seems to be an issue with my environment using screen

[2017-01-10 19:20] #155 closed

[2017-01-10 21:29] deathbaba commented on #142
I'm also stuck with this issue: monitors are not detected in statically built fswatch binary (Ubuntu).
I found the following workaround:
1. Use ```$ make V=1``` to see verbose output
2. Replace final linker command

```$ clang++ -std=gnu++11 -g -O2 -Wall -o fswatch fswatch.o  ../libfswatch/src/libfswatch/.libs/libfswatch.a -lpthread```

by

```$ clang++ -std=gnu++11 -g -Os -Wall -o fswatch fswatch

[2017-01-13 16:05] dyroffk commented on #149
Any updates / blockers on releasing a Debian package?

[2017-01-20 15:01] faceyspacey opened #156 "Is it possible to clear previous results on updates?"
That way the screen isn't cluttered with too many past results.

[2017-01-25 09:14] JesseAldridge opened #157 "Pipe through grep?"
I'm having some trouble using fswatch + grep + xargs.  I posted a question on StackOverflow:  http://stackoverflow.com/questions/41847120/fswatch-with-grep-not-piping

[2017-01-25 10:47] emcrisostomo commented on #157
Hi @JesseAldridge, I answered there.

[2017-01-25 10:47] #157 closed

[2017-01-25 21:42] JesseAldridge commented on #157
Cool, thanks man.

[2017-01-27 19:01] timotheecour opened #158 "Is this usable for external file moving detection in SublimeText?"
Is this usable for external file moving detection in SublimeText?
* http://sublimetext.userecho.com/topics/597-update-tabs-after-renaming-file/#comment-4454
* https://forum.sublimetext.com/t/no-warning-when-deleting-or-renaming-open-files-also-reloading-from-disk/18967/6?u=thelastmammoth

Specifically, is this supported:
* usable as a library in C or C++ (looks like it is)
* allow only watching re

[2017-02-16 19:03] gerald-ziprecruiter opened #160 ""Error: Event queue overflow." when updating many files in Windows 10/Cygwin"
When monitoring a directory with a large amount of files changing (say switching a branch on git), the program seems to exit with the following output:

[code]

When I do a -v I get this when starting the monitor:

[code]

And when I do the git checkout:

[code]

The command I ran was:

`fswatch -v -o -1 -e .git -e .gitignore /cygdrive/c/my-folder`

Attempted it with/without the excludes, -1 and -

[2017-02-16 20:04] gerald-ziprecruiter commented on #160
Duh, --allow-overflow. That seems to solve the problem.

[2017-02-16 20:04] #160 closed

[2017-02-17 01:14] ardikaveh opened #161 "brew not updated with latest version"
currently on fswatch 1.5.1

[2017-02-19 02:51] LogicalKnight commented on #161
Brew has had 1.9.3 since [July 2016](https://github.com/Homebrew/homebrew-core/commit/ae377533b68e8d2450974868581758e3097d765c)...

[2017-02-20 09:48] stuart-warren commented on #151
Also trying to exclude files under `.eggs|.git|vendor` directories while also only including certain file extensions

[2017-02-21 11:51] ctrngk opened #162 "Could I differentiate add, delete, and modified method"
Hi,

I want to append `.ok` after every new file found in test directory.

➜  test `fswatch -0 . | xargs -0 -I {} mv {} {}.ok`
mv: /Users/mac/test/cc: No such file or directory
mv: /Users/mac/test/cc.ok: No such file or directory
mv: /Users/mac/test/cc.ok.ok: No such file or directory
mv: /Users/mac/test/cc.ok.ok.ok: No such file or directory
mv: /Users/mac/test/cc.ok.ok.ok.ok: No such file or dir

[2017-02-22 21:43] ctrngk commented on #162
I have figured it out. The reason why solution 3 execute two times, is that `touch aa`
1. new file `aa` added to directory,  detected, and rename to `aa.ok`.
2. `aa` deleted,  also detected, and rename to `aa.ok`, which raise error.

Although  solution 3 still works, the log file is not pretty.
So the question change to: Could I differentiate **add**, **delete**, and **modified** method?

[2017-02-22 21:56] ctrngk commented on #162
`fswatch -x path` will solve this problem. Case closed.

[2017-02-22 21:56] #162 closed

[2017-02-26 10:02] allidev opened #163 "fail to build on windows"
When I try to build fswatch on Windows, it reports the following error message:
autoreconf-2.69: running: aclocal --force -I m4
m4/ax_cxx_compile_stdcxx_14.m4:33: file `ax_cxx_compile_stdcxx.m4' does not exist
autoreconf-2.69: aclocal failed with exit status: 1

I am using cygwin on Windows 10.

[2017-02-28 18:23] CMoebius opened #164 "brew install fswatch not working"
When I try to install fswatch via brew, I get a timeout message from amazon aws. Not sure what is going on, I am new to this. Below is the timeout and other messages. BTW, I am not on a prerelease version of Mac OS.

brew install fswatch
Warning: You are using OS X 10.12.
We do not provide support for this pre-release version.
You may encounter build failures or other breakages.
==> Downloading ht

[2017-03-02 21:41] allidev commented on #163
never mind. I was able to build if I download the release tar ball.

[2017-03-02 21:41] #163 closed

[2017-03-02 21:45] allidev opened #165 "link static libfswatch library"
Currently, it seems that libfswatch can only be used in shared library form. Can we use libfswatch in static library form? if so, how?

[2017-03-06 18:27] allidev commented on #165
It seems to be related to #142, and I will close this.

[2017-03-06 18:27] #165 closed

[2017-03-19 23:44] vimuel commented on #164
Try using [the Nix package manager](https://nixos.org/nix/):

`nix-env -i fswatch`

Got to love Nix.

[2017-03-20 13:12] CMoebius commented on #164
I forgot to come back and close this issue. This was happening while AWS was having it's down time a couple or so weeks ago. When it came back up, I was able to get it installed.

[2017-03-20 13:12] #164 closed

[2017-04-14 11:47] ricardobeat opened #166 "Invalid value 0.4 - latency option is locale dependent"
When providing the `-l` argument, the value parsing depends on locale: `-l0.4` and `-l0,4` fail on different systems. The command-line options not being consistent makes it harder to write portable scripts using fswatch.

[code]

Source seems to be https://github.com/emcrisostomo/fswatch/blob/22fbeb1c0a45df017b87ad88c4e89818a9c94e0b/src/fswatch.cpp#L547

http://www.cplusplus.com/reference/cstdlib/

[2017-04-15 09:30] emcrisostomo commented on #166
Hi @ricardobeat,

I understand your problem. But actually when I wrote this I did, and still do, think this is a feature. If you're writing portable scripts, why don't you set the locale then? Even `printf` behaviour is locale dependent (at least on the shells I use). Ignoring locale settings seems problematic to me if your goal is achieving portability.

[2017-04-27 00:19] josephholsten opened #167 "add tags, links to alternatives"
It wouldn't hurt to let people know about some of the alternatives:
- https://github.com/bevry/watchr
- https://github.com/nroi/waitforfile
- https://github.com/VojtechVitek/rerun
- https://github.com/liudng/dogo
- https://github.com/mattgreen/watchexec

Also tag: `file-watchers`, `filewatcher`

[2017-05-04 21:52] phs opened #168 "Man page typo"
[code]

[2017-05-05 08:21] fanktom commented on #46
Hey @emcrisostomo, could you elaborate on how to use the event filters?

I tried
[code]
which I expected to fire only on CLOSE_WRITE events.
Is that the intended behaviour? Unfortunately I could not find any information in the manuals except for:

[code]

Unfortunately, on my linux machine this just immediately exits.

[2017-05-08 19:04] phs commented on #139
If you came here looking for a way to make `fswatch` report one event per latency window instead of per (fixed-size) batch, I've found a bash construction to do so.  Recent bash versions allow fractional timeouts on the `read`, but this snippet will work with bash as shipped with OSX.

[code]

[2017-05-12 08:40] Mange commented on #149
I'd also like to know if I can help with anything to get this shipped.

[2017-05-13 04:17] himanshub16 opened #169 "Distributable versions for package managers"
Hello.
First, thanks for making fswatch. It's great. I've been hanging around for many days trying various other watchers. This was the only sane watcher I found.

I had two questions.
* Are you interested in maintaining a distributable version which can be installed via a package manager, i.e. apt, dnf, brew, etc?
* How about the idea for creating language specific bindings for this?

[2017-05-18 18:19] kamil-kielczewski opened #170 "Ubuntu apt-get install fswatch not working"
Please build this tool for ubuntu

[2017-05-31 11:10] eduo opened #171 "Unclear on how to identify incomplete files"
Hi

I've been using FSWatch to trigger actions for tiny files so this has never become an issue, but now I find I'm not sure how it would behave when monitoring a directory with large files being transferred from a slow connection.

The idea is, of course, to trigger once the file is completed. I'm not sure if there's currently any check for this built-in or a parameter to specify it. For large fi

[2017-06-07 14:44] emcrisostomo commented on #167
well, that's what Google is for, not `fswatch`

[2017-06-07 14:44] #167 closed

[2017-06-07 15:18] emcrisostomo commented on #168
Thank you very much @phs.

[2017-06-07 15:18] #168 closed

[2017-06-07 15:19] emcrisostomo commented on #169
Hi @himanshub16,

Could you elaborate on which package manager and language bindings are you talking about? As far as package managers are concerned, I'm already pushing `fswatch` to MacPorts and brew.

[2017-06-07 15:20] emcrisostomo commented on #171
Hi @eduo, I'm afraid `fswatch` is not providing this information.

[2017-06-07 15:20] #171 closed

[2017-06-09 02:42] himanshub16 commented on #169
I mentioned above. I'm talking about package managers on Linux: dpkg, rpm etc.
Language bindings could be for Python, JavaScript etc.

[2017-07-05 14:32] danechitoaie commented on #142
Hi, so what can be doe to build libfswatch statically?

[2017-07-10 21:56] AndreasHassing commented on #108
I found this question in search of an answer as to why fswatch runs a command twice when a file has been changed (OS X).

If anyone else stumbles over this, this is what I did:
[code]

Using the command above I found out that PlatformSpecific is an event that is uniquely fired on file changes. With this information I could use the following command:

[code]

And fswatch executes the program only o

[2017-07-27 13:47] dialex commented on #149
So... can we do `sudo apt-get install fswatch` already?

[2017-08-11 13:13] dialex commented on #149
@emcrisostomo 2016 already ended and we still have no support for Ubuntu/Debian.
**What is the current estimate?**

You claim that this lib is cross-platform, so I think you should not leave behind a big ecosystem such as Ubuntu/Debian. Another issue was reported [here](https://github.com/emcrisostomo/fswatch/issues/170).

[2017-08-11 13:15] dialex commented on #47
This issue is still active on #149 and #170.
We still can't install `fswatch` on Ubuntu/Debian...

[code]

[2017-08-11 17:32] hadret commented on #47
Hey guys, apologies for late response. I still got notifications from GitHub, so here's my 5 cents:

1. In the meantime I closed my PPA for Debian, hence the 404 Not Found. (More info here: https://chabik.com/closing-ppa-for-debian/).
2. On my PPA website you can grab the whole repository, including fswatch package and building blocks that can potentially be used for upgrading. (http://deb.ianod.e

[2017-08-11 17:35] hadret commented on #149
Hi @agaida, care to share the building blocks for fswatch you made so far? Here's my 5 cents:

* http://deb.ianod.es/fswatch

While I wholeheartedly support getting fswatch the proper way into Debian (and this way also eventually to Ubuntu), I would suggest releasing debian folder for fswatch and maybe even including it into main repo (or as a submodule, whatever) and then build package via Travis

[2017-08-12 15:20] emcrisostomo commented on #149
Hi everybody,

Sorry for the belated answer, but I actually have very little to say. Many people is asking for a Debian package, and some people have contributed work in that direction (@agaida, @hadret). I'm not building a package for Debian myself because I can't even estimate how much effort it requires. I do provide packages/ports (e.g.: for FreeBSD, MacPorts, Homebrew) because it's _easy_ to

[2017-08-13 12:10] hadret commented on #149
Hey @emcrisostomo,

going with properly built Debian packages and getting it into official repositories usually takes some time (or at least that was my experience). We have, however, alternatives -- as I mentioned in my previous post, we could spin up some CI for automation (I really like how they did it for collectd, more details here: https://github.com/collectd/collectd-ci & debian packaging i

[2017-08-13 20:55] agaida commented on #149
ok, with 1.10. out now i will start packaging.

[2017-08-14 12:11] hadret commented on #170
While https://github.com/emcrisostomo/fswatch/issues/149 is in the works, for the time being:

[code]

[2017-08-14 18:22] agaida opened #172 "Please recreate the release tarball from a clean clone"
It seems that https://github.com/emcrisostomo/fswatch/releases/download/1.10.0/fswatch-1.10.0.tar.gz is polluted from a previous build - the usable tar ball is the one that github has created: https://github.com/emcrisostomo/fswatch/archive/1.10.0.tar.gz -- Sourcecode (tar.gz)

[2017-08-14 20:01] emcrisostomo commented on #172
Uhm, I will check when at home. That tar ball is created by make distcheck
on a clean environment, while the one that GitHub uses shouldn't be used
for the reasons explained in README.gnu-build-system (IIRC).

On Mon, 14 Aug 2017 at 20:22, Alf Gaida <notifications@github.com> wrote:

--
Enrico M. Crisostomo
Ελευθερία ή θάνατος
"Programming today is a race between software engineers striving to bui

[2017-08-14 20:07] emcrisostomo commented on #172
I forgot to ask: what was the problem by the way?

On Mon, 14 Aug 2017 at 22:01, Enrico Maria Crisostomo <
enrico.m.crisostomo@gmail.com> wrote:

--
Enrico M. Crisostomo
Ελευθερία ή θάνατος
"Programming today is a race between software engineers striving to build
bigger and better idiot-proof programs, and the Universe trying to produce
bigger and better idiots. So far, the Universe is winning."
G

[2017-08-14 20:55] agaida commented on #172
only one answer - please download both balls and directly compare their content - there was some kind of build and leave ._* files in. I confess that i don't read the readme in that depth that i remember anything about the gnu build system, Will read it again.

[2017-08-14 23:24] agaida commented on #172
Ok, without the ._ files the tarball is usable, i still prefer a pure export by git archive, but thats a matter of personal taste.

[2017-08-14 23:44] emcrisostomo commented on #172
Hi Alf,

The problem is not that it is or is not a pure export. `fswatch` uses the build system and the source repository is in "maintainer clean mode". That is: no `configure` script, etc. The build system must be bootstrapped, `configure` created, and a lot of other bookkeeping.

`make dist` and `make distcheck` just do that: they create a tarball for the final user. The tarball does not require

[2017-08-15 10:18] emcrisostomo commented on #172
@agaida, it seems the `._` files are an OS X-specific artefact (see for example https://superuser.com/questions/61185/why-do-i-get-files-like-foo-in-my-tarball-on-os-x).

However, I use the release distribution on my own systems and other packaging systems (FreeBSD, MacPorts) and those file do not interfere with the build process. Out of curiosity, are you making something other than `./configure

[2017-08-15 11:59] agaida commented on #172
dh (quilt) makes automatic patches against the the original tar ball - not that good in that regard :D. So i wrote a little repack script for uscan. We are lazy people some times at debian. The workflow is nice, once the app is packaged:
[code]
The downside in this tar- and quilt centric approach is that not to much should change in difference to the original tar ball. In a perfect world the build

[2017-08-15 15:26] emcrisostomo commented on #172
Interesting, thanks for the explanation. I'm glad you made it work.

Anyway, if there's some way to point that script at the release tarballs, diffs should be more or less what you expect them to be.

[2017-08-15 15:26] #172 closed

[2017-08-16 16:04] jsarenik opened #173 "Statically linked (Linux ARM musl) does not work after refactoring"
Hi @emcrisostomo!

I am using `fswatch` on ARM Linux, statically linked against musl libc. Version 1.7.0 works well but master (529c7e8) does not so I did following bisect script to find out what commit broke my use-case (compiling on Arch Linux x86_64, gcc 7.1.1, autoconf 2.69):

[code]

Partial log of my bisect run:

[code]

Excuse me for not having enough time to dig deeper :-)
Let me know if I

[2017-09-13 02:47] karog opened #174 "--event <numeric event flags bitmask>"
It would be nice if the --event option would take as argument the event flags numeric bitmask so that several event types could be combined in a single argument/option. For example,

--event 30

instead of

--event Created --event Updated --event Removed --event Renamed

[2017-09-14 13:01] mariano-dagostino opened #175 "Docs says gettext is optional. How to disable it?"
Hi, Thanks for this amazing project.

I was able to compile fswatch in linux following debian instructions. However because gettext-dev package is not available I have to compile gettext manually and it takes a lot of time.

Since the use of gettext is optional, I was wondering if you could also document how to make this optional. Running `/autogen.sh && ./configure && make && make install -j && l

[2017-09-14 14:12] emcrisostomo commented on #175
Hi, thanks, it's appreciated.

You appear to be bootstrap `fswatch` from sources, which is a completely different story. `gettext` in that case is not optional. I'll make it clearer in the documentation.

If you want to build `fswatch` as specified in the documentation, you should use a release tarball, not the sources from the repository. Excerpt of the [documentation][docs]:

[docs]: https://git

[2017-09-14 14:17] mariano-dagostino commented on #175
Thanks for the quick response. Well, turns out it is actually optional :) I figure out how to do this:

`apt-get install autopoint` This fix my earlier issue.

And then, like is documented in `gettext.h` we can use `--disable-nls`

`./autogen.sh && ./configure --disable-nls && make && make install -j`

What do you think @emcrisostomo ?

[2017-09-14 14:21] emcrisostomo commented on #175
No, it's not optional. Actually it's slightly more complicated. `autopoint` is part of GNU `gettext`, to which I loosely refer to as part of the GNU Build System. In your system packagers have decided to make `autopoint` available in a separate package. Up to, and included ubunt 10, there was no separate `autopoint` package, and you would have had to install the full `gettext` package.

Now, what

[2017-09-14 15:04] #175 closed

[2017-09-14 15:04] mariano-dagostino commented on #175
Oh, I see. Interesting...

Thanks for the advice. I don't see the reason to build from master. Makes sense. However, I don't really see how this will be different from what I'm doing. Release tarbarls are just tags of the repo isn't? or I'm missing something.

So the reason to worry about gettext is it adds a lot of dependencies just to enable translations. We are using this package in a docker co

[2017-09-14 15:11] emcrisostomo commented on #175
Hi,

I'll try to illustrate why it's important.

I understand we're used to think to releases as tags of `master` hence you're assumptions. `fswatch` is built using the GNU Build System which uses additional (as in _a lot of_) files. When a release is created, the build system creates and packages everything you need to configure and build `fswatch` from sources. In the process, all the files used

[2017-09-14 16:28] mariano-dagostino commented on #175
Thanks you very much @emcrisostomo all clear now.

[2017-09-18 20:54] emcrisostomo commented on #174
Hi @karog, I think this is a nice feature. I've scheduled it for the next release.

[2017-09-25 12:57] ajoslin103 commented on #109
yes please!

[2017-09-26 10:21] anoopradhika opened #176 "cmake build issue"
cmake make build failure
CMake Error at libfswatch/CMakeLists.txt:115 (add_library):
  Cannot find source file:

    ../libfswatch_config.h

  Tried extensions .c .C .c++ .cc .cpp .cxx .m .M .mm .h .hh .h++ .hm .hpp
  .hxx .in .txx

CMake Error at fswatch/src/CMakeLists.txt:9 (add_executable):
  Cannot find source file:

    ../../libfswatch_config.h

  Tried extensions .c .C .c++ .cc .cpp .cxx .m

[2017-09-26 15:20] emcrisostomo commented on #176
Hi. That file is being created by the autotools (by `configure`), so there's indeed a problem. The only solution I can think of is building a replacement configuration header with CMake. However, CMake is not supported and I wouldn't hold my breath.

[2017-09-27 16:44] bombazook commented on #134
This issue also breaks `fswatch -1 -m inotify_monitor` behaviour

[2017-09-30 01:10] tcurdt opened #177 "dual license?"
Any chance to dual license the code base as MIT/BSD/Apache? Given it's all getting statically linked I don't see how I could use the lib with a MIT/BSD/Apache based code base.

[2017-10-06 06:58] allidev commented on #121
It seems that c++11 has std::regex that can easily replace the regcomp function in the code. We should be able to get around this error. I am going to take a crack at this and file a PR when I am done.

[2017-10-06 08:07] emcrisostomo commented on #121
Hi @allidev, `regcomp` is not what it's blocking this issue to proceed.

Also, take into account that the fact that we use `regcomp` instead of the `<regex>` library is that there was (is?) no support in all the platform I tested with and would like to support. gcc, for example, shipped the first implementation in 4.9. That's also why I'm not using any newer C++ standard

Hence: I do not believe m

[2017-10-06 09:30] allidev commented on #121
@emcrisostomo, I understand your concern. In fact, in [filter.cpp,](https://github.com/emcrisostomo/fswatch/blob/master/libfswatch/src/libfswatch/c++/filter.cpp) you do use `<regex>`, so it seems that the value of using `<regex>` has been validated in the current codebase. Maybe I am missing something.

[2017-10-08 15:13] emcrisostomo commented on #121
@allidev You're right, I had completely forgotten about it. Thanks.

[2017-10-08 15:15] emcrisostomo opened #178 "Replace usages of POSIX regular expressions with C++11"

[2017-10-08 15:15] emcrisostomo commented on #121
I prefer to track this one in a dedicated issue: #178

[2017-10-20 14:52] wolfchimneyrock opened #179 "libfswatch: calling fsw_add_path() after fsw_start_monitor()"
Hi,
I am using libfswatch in a project on linux.  Is there a way to dynamically add new paths to the monitor after it has been started?
Right now I it does not have the desired effect, i.e. running fsw_add_path() after fsw_start_monitor() does not start monitoring changes on that new path.

Do I need to re-run fsw_start_monitor() after adding new paths?  I am concerned about a big potential perfor

[2017-10-24 14:28] srayner opened #180 "get relative path of file that changed."
Is it possible to get the relative path of the file that changed?

Example:
If i'm watching; /my/watch/path/
and the file that changes is; /my/watch/path/folder1/file6
can I get the output folder1/path6 ?

[2017-10-25 00:10] emcrisostomo commented on #177
Hi @tcurdt, I'm definitely thinking about dual licensing using GPL3 and the 3-clause BSD license. Let me figure it out.

[2017-10-25 00:22] emcrisostomo opened #181 "Make gettext an optional dependency"
It has been reported in FreeBSD ports bug [219731][bug] that even though `gettext` is meant as an optional dependency, it is still required by `Makefile.am` (and as a consequence by `pkg-plist`.

[bug]: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=219731

[2017-10-25 09:44] emcrisostomo commented on #174
Merged to `master`.

[2017-10-25 09:44] #174 closed

[2017-10-25 16:34] #181 closed

[2017-10-26 16:58] emcrisostomo opened #182 "Remove mandatory dependency to git"

[2017-10-28 01:32] #182 closed

[2017-10-29 11:47] emcrisostomo opened #183 "Generate a single message catalog for both fswatch and libfswatch"

[2017-10-29 15:18] #183 closed

[2017-10-31 08:27] emcrisostomo opened #184 "Check that we're executing git in a git repository before getting the branch name"

[2017-11-17 23:45] amrography opened #187 "Can not exclude exact file"
Hi,
I am trying to exclude the build file (which been built with another bash command) but it's not excluded. So I go through infinity loop

[code]

I went through the documentations but didn't find an example on that

[2017-11-17 23:59] emcrisostomo commented on #187
Hi,

I frankly haven't understood exactly what it is that you're trying to accomplish. What's the path of the file you're trying to exclude? If it's `final.php`, then the regular expression you're specifying will not match any path, because the paths reported by `fswatch` will start with `~/path/files` (actually, its absolute path).

[2017-11-17 23:59] #187 closed

[2017-11-18 00:25] amrography commented on #187
So I should exclude ~/path/files/final.php
like this : `-Ie "^~\/path\/files\/final.php$` ?

[2017-11-18 01:11] t3hk0d3 commented on #187
@amrography
I think `-Ie "\/files\/final\.php$`

[2017-11-18 09:26] amrography commented on #187
@t3hk0d3 Thanks for you help, but this didn't work

I tried to exclude all *.php files fswatch still watching them
`fswatch -Ie ".*\.php$" ~/path/files | fun watch`

[2017-11-18 09:55] emcrisostomo commented on #187
I just can't replicate your problem. Running `fswatch -Ie ".*\.php$" ~/temp` correctly ignores files whose name end with `php`. You still fail to provide some example output though (without the pipe to any other process). Also, it's important to know which monitor you're using.

[2017-11-25 12:47] t3hk0d3 commented on #179
You have to just stop monitor (`fsw_stop_monitor()`), and start it again (`fsw_start_monitor()`).

[2017-11-25 15:24] agaida commented on #170
fswatch has just hit debian/sid - so it will be sooner or later in ubuntu too

[2017-11-25 15:25] agaida commented on #149
landed in sid

[2017-11-25 15:25] #149 closed

[2017-11-26 22:45] unphased opened #191 "Wrong error message is printed when inotify event queue overflows"
**update**: Much of this issue is explained by realizing that FSEvents monitor works recursively even if you do not specify `-r`, whereas inotify monitor does not function this way. Sorry! The issue still stands. The behavior is extremely different, not only in the output but in the treatment of flags.

=======================

I have a workflow which uses fswatch which works very well on os x. An

[2017-11-28 09:35] emcrisostomo commented on #170
Great work. Thanks @agaida.

[2017-11-28 09:38] emcrisostomo commented on #149
Great job @agaida. Thank you very much. Do you think we should set up some machinery to rebuild and check a debian package? I'm asking because I have no idea how this works on Debian. On other operating systems such as FreeBSD I patch a port, test it with the FreeBSD build machinery (`poudriere`) and submit a patch. I do pretty much the same thing with MacPorts and Brew. Do you have any suggestion

[2017-11-28 09:48] emcrisostomo opened #193 "Check the capabilities of date before using --utc and --date"
#192 introduced the following change:

[code]

However, `date` capabilities are not checked and invocation may fail in platforms where `--utc` and `--date` are not supported.

[2017-11-28 11:12] t3hk0d3 commented on #193
Synonym for BSD date would be following command:

[code]

[2017-11-28 11:21] emcrisostomo commented on #193
Thank you very much @t3hk0d3

[2017-11-28 11:29] agaida commented on #149
Hmm - no clue - but imho that doesn't make much sense. Or put it in other words: As long it compile for you everything is fine. What we do is to put this things together and "just" build them - https://buildd.debian.org/status/package.php?p=fswatch - you might notice two failed architectures - i had to adjust the compiler symbols. But that are things that don't fit for normal development - to much

[2017-11-28 11:32] emcrisostomo commented on #149
Thanks @agaida. Ok, thanks, I think that will work.

[2017-11-28 12:13] agaida commented on #170
And here it is: https://launchpad.net/ubuntu/+source/fswatch/1.11.2+repack-3

[2017-11-28 14:32] emcrisostomo commented on #170
Great job @agaida.

[2017-11-28 14:32] #170 closed

[2017-12-08 00:19] noahfriedman commented on #142
I had to do something similar for OS X as of commit c7d894913dfbc4092a33701bf7dc92f52d970a92
Running `make V=1` I see this snippet:

[code]

I changed `-Wl,-bind_at_load` to `-Wl,-all_load` in order for the monitors to work.

[2017-12-11 14:28] malthe commented on #191
I definitely also see different behavior on Linux and Mac OS.
[code]
On the Mac – this works reasonably good, while on Linux, this generates and endless event stream.

What gives?

[2017-12-11 14:55] t3hk0d3 opened #194 "json format output"
It would be nice to have that in fswatch tool itself, but honestly - it have very limited use cases.

Basically idea is to have something like this:

[code]

That would allow to stream/log events in effortlessly-machine-readible format.

Is it worth implementing? Any additional ideas?

[2017-12-11 17:32] emcrisostomo commented on #191
Hi @unphased, could you please put an example invocation?

[2017-12-11 17:33] emcrisostomo commented on #191
Hi @malthe, what kind of changes arrive on `path`? Could you please paste a fragment of the endless event stream? I'm interested at seeing which kind of events we're talking about.

[2017-12-11 20:49] t3hk0d3 commented on #193
@emcrisostomo
Isn't this one could be closed?

[2017-12-11 21:32] emcrisostomo commented on #193
Hi @t3hk0d3, yes, it can be closed: I left it open because I wanted to configure and build it in all the supported OS and this wasn't assigned to any milestone.

[2017-12-11 21:33] #193 closed

[2017-12-11 22:09] emcrisostomo commented on #191
Hi @unphased, just to clarify: `fswatch` is a common interface towards _different_ file system change event APIs. Linux and macOS are very different and `fswatch` won't yield the same results. As a matter of fact, one of the examples you cite (a notification when a file is _read_ will not work on macOS). To go further, I think you're conflating multiple things. You say:

And then:

If the problem

[2017-12-11 22:13] emcrisostomo commented on #191
@malthe,

I just tried to run `fswatch` on Debian 9 and I see no problems. As an example, I tried creating files, modifying them and then deleting them and I see no issues.

If you receive a lot of events at the beginning of the session, that's because the hierarchy is scanned recursively and that operation performs events as well. These events are of type `IsDir` and `PlatformSpecific` (I have to

[2017-12-11 22:20] emcrisostomo commented on #194
Hi @t3hk0d3,

Actually you can get something very similar already with:

[code]

Flags are not bubbled-up in an array, and you get a space-separated element instead. I could improve the format to be able to specify the event-type separator, but I'm not sure whether that's a top priority one.

[2017-12-11 22:57] unphased commented on #191
@emcrisostomo the behavior that i saw on Centos 7, and now Ubuntu 14.04, is that I get an unreasonably large stream of lines that just have a directory path. I will actually save a file in Vim and see NOTHING reported. Yes you are correct in that my language was not very specific, but the point is that the software does not function with any real utility, so what I would like to get to the bottom

[2017-12-11 23:04] unphased commented on #191
I think the difference may be accounted for by taking into account:

- inotify for whatever reason provides way too many events. they can be filtered, this is okay.
- fsevents monitor does not appear to require the recursive flag, which means that my tests on linux using the same interface to fswatch yield totally different behavior. this seems less okay, but also means that my issue was not descr

[2017-12-11 23:33] emcrisostomo commented on #191
@unphased, as I already asked, you should please add a full example if you want to help us discover what's going on. Not only `fswatch` is working for me in the machines where I used: I just made a test, as stated above, and I could always see the change events (on Debian 9). I've just made another test on Debian and Alpine and I get the same results:

[code]

What happens in your case, I still do

[2017-12-11 23:40] emcrisostomo commented on #191
@unphased:

`fswatch` makes no attempt at filtering any notifications. What `inotify` sends, we forward.

The `fsevents_monitor` is inherently recursive, as it is the API it uses (`FSEvents`). There is _no_ promise about getting the same behaviour _anywhere_. On the contrary, if you read the manual you'll notice that I tried to describe the differences. To rephrase: getting the _same_ results usin

[2017-12-11 23:46] unphased commented on #191
Cool, yes I'd like to make it clear (it's hard) that I'm not complaining about how this software isnt doing what it promises to do, but I do believe that way in which the readme is written led me to believe that I can use the tool and expect the same output across the different monitors and this is not the case here, as you've explained.

It is only because I formed this expectation that it was pa

[2017-12-15 08:02] mugiseyebrows opened #195 "redundand check for null on result of static_cast"
I believe `static_cast` cannot return null if argument is not null, check is redundand and exception will never be thrown (assuming `clientCallBackInfo` is not null, which can be checked less confusing way)
https://github.com/emcrisostomo/fswatch/blob/91e529e0e217797ec3606f9f068c6f9f2ad1c279/libfswatch/src/libfswatch/c%2B%2B/fsevents_monitor.cpp#L196-L202

[2017-12-19 17:26] valentjedi commented on #191
Hi there, just jumped into the same issue. I have an Arch Linux and fswatch `1.12.0`.
I did some tests, and it seems that fswatch ignores `Created`, `Updated` and `Removed` events.

It yields `IsDir` and `PlatformSpecific` though. Also, after initial scanning and reporting with a long stream of `IsDir` and `PlatformSpecific` it just exists.
Inotifywatch directly is working good though.

[2017-12-20 03:01] seekforwings opened #196 "the thought of the realization of watching multiple directories"
dear author, i had read your code of how to watch multiple directories, and it is basically using one loop thread to read the io result by [getOverlappedResult()]. And after that i have a thought: how about that we using several threads to watch mulitple directories by shared the completion_port? Well, it could be realized by using [createIoCompletionPort(), getQueuedCompletionStatus()]. I would b

[2017-12-20 18:32] emcrisostomo commented on #191
@valentjedi Since this seems tricky to reproduce, would you please provide all the information you have:

* What is the exit code?
* Is the behaviour consistent?
* What happens if you try in a single directory with just a bunch of files?

I'll try to fire a VM when I can.

[2017-12-20 19:30] unphased commented on #191
@valentjedi does fswatch include the created, updated, and removed events as you expect when you use the recursive flag?

[2017-12-25 08:01] valentjedi commented on #191
Hi all, sorry for a delay :)
@unphased no, the recursive flag doesn't make any difference.

@emcrisostomo
I did a lot of experiments on both MacOs and Linux, and I think I've reduced the scope of the issue to the number of files in the watchable directory.

So here's the example of the command which works great on MacOs:
[code]
On Arch it seems to do nothing at first glance, but only if the number

[2017-12-27 12:28] blahmutz commented on #149
any news on that for debian stretch (9) ? would be really nice to have this in the official repos (or at least a working ppa)

[2017-12-27 13:50] agaida commented on #149
@blahmutz - fswatch will never be in the stretch repos, backports might be possible. but to be true - i see no reason to port it back right now. What i would do is: Set the default release to stretch in the apt config and install fswatch from testing.

PS: PPA for debian? Serious? And taking it from launchpad would be the single worst idea one could have.

[2017-12-27 14:09] jcranky commented on #149
Why?

[2017-12-27 14:42] blahmutz commented on #149
can you explain what you mean exactly with that? i have stretch, why should i set stretch as release to my apt config (should be already the case, shouldnt it). Or did you mean "set debian 10 as release" ? i am not that familiar with debians package managment. I know how to install/delete stuff, but thats it. Why is it bad to add a ppa? because of security concerns?

[2017-12-27 17:38] agaida commented on #149
What i wrote of course :D - It's about repository priorities, to make it short: one can have stable, testing, unstable and whatever in his repo.list(s) - the default priority is 500 for normal repos, some repositories have a lower priority provided by their repository settings (automatic $foo) - in very clear words: In such a setup all versions with the highest version number will be installed, th

[2017-12-29 09:58] blahmutz commented on #149
Thanks for the info. But that still does not explain to me why i should not use software from a website, when it is nowhere else available. It says:

i would, if this software would be in the backports or in any other official debian repository. as it is not, i just have 2 ways: use a ppa repo/download from a website or build it myself. the later one is not really what i would like to do as its re

[2017-12-30 11:50] agaida commented on #149
@blahmutz - thats fine as it is not my problem - i don't really care if one install not compatible binaries in his system. Might work, but there is a long standing record that it don't work.

[2018-01-06 15:32] mologie opened #197 "On macOS, "touch -a" incorrectly causes a file to show up as modified"
Hello, I've observed the following behaviour on a macOS 10.13 machine of mine and believe that it is a bug:

A Makefile of mine uses touch -a to ensure that some file exists. This in combination with using fswatch for running make causes an infinite loop. "touch -a" however only modifies the *access* time of a file explicitly, and thus I would not expect fswatch to tell me the file was modified  (

[2018-02-08 17:52] jakirkham commented on #129
Working on it. ( https://github.com/conda-forge/staged-recipes/pull/5111 ) :)

[2018-02-08 17:54] jakirkham opened #198 "make check step?"
Thanks for this great tool. Am trying to figure out how to run the test suite after building. Is there a `make check` step or similar? Tried `make check`, but can't tell if it is doing anything. Thanks in advance for any advice.

[2018-02-08 18:48] jakirkham commented on #129
Would you like a note in the README about the `conda` package, @emcrisostomo?

[2018-02-09 06:58] jakirkham commented on #121
Have a feeling that this issue/use case ends up being a (mis)use of MSYS2 as [this thread]( https://sourceforge.net/p/msys2/mailman/message/35586287/ ) or [this even older thread]( https://sourceforge.net/p/mingw/bugs/2207/ ) suggests. That said, it looks like one might be able to [`#define` an equivalent function to `realpath`]( https://sourceforge.net/p/mingw/patches/256/#ef43 ). Admittedly that

[2018-02-09 07:20] jakirkham commented on #121
Also I believe `regcomp` and friends are available in `pcre`. So that would be another option to consider.

[2018-02-16 12:33] ebraminio opened #199 "Merging keyboard button hits with fswatch events?"
Is it possible to have keyboard events also as a source of events? I like to integrate fswatch on the development of [a known project](https://github.com/harfbuzz/harfbuzz/pull/796) and am wondering if is possible in addition to rebuilding the project with file changes it would be possible to run the test suit with some short key like "t" or something.

I tried some bash script based solution like

[2018-02-27 15:36] stecca21 opened #200 "Moving a folder missing 'Created MovedTo'"
In a linux environment I'm watching one folder recursively. When I move a file I get 'Removed MovedFrom' and 'Created MovedTo' events. However, when I move a folder I only see 'Removed MovedFrom' and 'Updated'. Why isn't there a 'Created MovedTo' record? How am I supposed to trace a folder relocation?

[2018-03-13 21:20] nvllsvm commented on #197
Using `fswatch -x --one-event`, I got this when running `touch -a somefile`

[code]

[2018-03-13 21:33] nvllsvm commented on #197
Replicated. First I began by starting fswatch and creating the file with `touch somefile` and ran `touch -a somefile` three times.

[code]

Then I opened the file with `nvim`, wrote (`:w`), and quit (`:q`).
[code]

Ran `touch -a somefile` three more times.
[code]

[2018-03-22 09:16] patilarpith opened #202 "fsw::monitor::run() does not exit quickly"
This is something I'm noticing which I keep creating & stopping monitors iteratively.

I've written a FSWatcher wrapper with following code for stop()
[code]
qsleep() is a 10 millisecond sleep called via nanosleep().

I see the code spending roughly around (400 - 600 ms) in active_monitor->is_running() while loop. Even if I reduce the active_monitor->set_latency(); from 0.1f to 0.001f I see no sig

[2018-04-01 16:03] emcrisostomo opened #203 "test creation from api"

[2018-04-01 16:05] #203 closed

[2018-04-02 22:51] t3hk0d3 opened #204 "Release 1.12.0"
There is quite a lot of changes since last release, it would be great if you release next version.

Thank you!

[2018-04-10 08:28] seekforwings opened #205 "how to notify when file is created under the directory which is being watching, by using kqueue?"
https://github.com/emcrisostomo/fswatch/blob/ce91bbe6df926c59566c6522cba8cfe21c6409cd/libfswatch/src/libfswatch/c%2B%2B/kqueue_monitor.cpp#L84

[2018-04-16 15:25] jstarcher commented on #204
I second!

[2018-04-17 08:42] emcrisostomo commented on #204
Hi, I agree. This is lagging behind because I'm quite busy at the moment and I wanted to include a couple of features and do some thorough testing before releasing.

[2018-04-18 01:39] dannycolin commented on #169
Would be nice to have it directly in the Debian repository (distro like Ubuntu and Mint will also benefit from it since they rebuild the package from debian) but at least a prebuild in .deb (and .rpm) would be great.

[2018-04-18 08:06] agaida commented on #169
it is in debian and ubuntu ...

[2018-04-18 12:28] dannycolin commented on #169
What's the package name because `apt search fswatch` return nothing related to fswatch.

[2018-04-18 14:57] agaida commented on #169
i think i have called it fswatch - https://tracker.debian.org/fswatch

[2018-04-18 15:38] dannycolin commented on #169
I'm on Stable ;) problem solved then! I'll pin the testing package. Thanks for the informations.

[2018-04-20 13:54] stereobooster commented on #170
Hi. Thank you for maintaining this great software. I got an error, maybe you know what the issue here.

I'm trying to install fswatch in ubuntu in Docker

[code]

but get this

[code]

[2018-04-20 14:04] hadret commented on #170
@stereobooster fswatch was introduced only in the upcoming Ubuntu release, 18.04: https://packages.ubuntu.com/search?keywords=fswatch

[2018-04-27 09:14] emcrisostomo commented on #204
Thanks @t3hk0d3 I'll let you know.

[2018-05-02 14:25] emcrisostomo commented on #198
Hi @jakirkham, you're right in suspecting `make check` is doing nothing: there currently is no test case implemented.

[2018-05-02 14:25] #198 closed

[2018-05-02 14:27] #194 closed

[2018-05-02 14:45] emcrisostomo commented on #191
Thanks @valignatev, yes, you're right on macOS creating the event stream is basically a effortless operation. On Linux, however, inotify only watches for events on first-level children of a directory. To watch a directory recursively fswatch has to scan the tree and add a watch for each directory in the tree.

I'm closing the issue for now because I have no improvements to suggest. Could you give

[2018-05-02 14:45] emcrisostomo commented on #179
Thanks @t3hk0d3

[2018-05-02 14:45] #179 closed

[2018-05-02 16:05] t3hk0d3 commented on #204
Thanks for release!

[2018-05-02 16:05] #204 closed

[2018-05-02 16:09] valignatev commented on #191
Thanks for the response! Interesting. Pure inotifywait works great for me while fswatch chokes on this project.
The project has seven directories at the root level, and the deepest ones go maybe five-six levels deep. It usually has 2-10 files, rarely more. `node_module` is an outlier, but it's in ignore patterns.

Here's commands I use, both `inotifywait` and `fswatch`.
[code]

Also, these calls a

[2018-05-02 21:32] #131 closed

[2018-05-02 21:34] #196 closed

[2018-05-02 21:34] #205 closed

[2018-05-02 22:10] emcrisostomo commented on #191
Thanks for the information @valignatev. I have a gut feeling that what's happening is that the ignored directories may contain a huge number of files. `fswatch` does _not_ skip a directory scanning even if its path is matched by an ignore pattern, so that its children are scanned. Could you give me some figures about how many files are contained in the ignored directories?

[2018-05-03 06:39] valignatev commented on #191
Oh yeah they contain a huge number of files. In my particular case `node_modules` only contains 30734 files. And here also `.git` dir, and a couple more.

[2018-05-03 06:44] valignatev commented on #191
And this not considered that big for `node_modules` dir :) Other projects might have much bigger ones.

[2018-05-05 22:04] #178 closed

[2018-05-07 04:12] seekforwings commented on #205
@emcrisostomo well, could you please tell me whether there is anyway to notify the creation of a file with kqueue?

[2018-05-07 11:02] emcrisostomo commented on #205
@seekforwings, well, that's a general question about `kqueue` and not a `fswatch` issue. Unless you've got one, please direct your general question elsewhere if you expect them to be promptly answered.

I suggest you consult the `kqueue` man page where you'll find the answer.

[2018-05-07 11:15] emcrisostomo commented on #191
Hi @valignatev, I've updated `fswatch` so that it _does not_ scan a directory if the directory path is to be excluded, according to the filters. Would you be so kind to test the latest `master` and give me some feedback? Please find attached a release tarball here.
[fswatch-1.12.0-develop.tar.gz](https://github.com/emcrisostomo/fswatch/files/1979624/fswatch-1.12.0-develop.tar.gz)

[2018-05-07 11:32] emcrisostomo commented on #202
Hi @patilarpith, the `running` flag is set to `false` after the following have happened:

* `monitor::run()` has returned.
* The inactivity thread has been joined (it uses the `latency` option to determine how much it has to sleep).

What monitor are you using? That's important since `monitor::run()` is a virtual function.

[2018-05-07 11:39] emcrisostomo commented on #199
Hi @ebraminio,

Perhaps it would be easier to make `fswatch` react to a signal such as `SIGINFO`. This way you could send a signal to it (`SIGINFO` can be sent with `CTRL-T`) and have `fswatch` synthesise a file system change event for it.

[2018-05-07 11:41] emcrisostomo commented on #200
A cursory check confirms that both directory and file events go through the same processing pipeline. That is, I would expect the `MovedTo` event to be present as well.

I'll have to replicate it and check the `inotify` documentation.

[2018-05-07 11:47] valignatev commented on #191
Thanks! Sure I'll test it and report back to you!

[2018-05-08 03:03] seekforwings commented on #205
@emcrisostomo , is it better to use fsevent rather than kqueue on osx system? On some BSD system, kqueue can be used. However, I'd read the code but I couldn't find out any way to notify when a file is created. And the man page seems to be not talking about this kind of event. So, this is why I wanted to ask and I did ask here.

[2018-05-08 03:06] seekforwings commented on #205
The code I read is here: [fswatch/libfswatch/src/libfswatch/c++/kqueue_monitor.cpp](https://github.com/emcrisostomo/fswatch/blob/ce91bbe6df926c59566c6522cba8cfe21c6409cd/libfswatch/src/libfswatch/c%2B%2B/kqueue_monitor.cpp#L84)

[2018-05-08 03:08] seekforwings commented on #205
You can see that there is no flag like file creation:

![qq 20180508110739](https://user-images.githubusercontent.com/4401269/39735853-1885bc7c-52b0-11e8-8d9c-d9b1836dc1cc.png)

[2018-05-08 03:11] seekforwings commented on #205
Comparing with FSEvent in [fswatch/libfswatch/src/libfswatch/c++/fsevents_monitor.cpp](https://github.com/emcrisostomo/fswatch/blob/ce91bbe6df926c59566c6522cba8cfe21c6409cd/libfswatch/src/libfswatch/c%2B%2B/fsevents_monitor.cpp#L38)
![qq 20180508111004](https://user-images.githubusercontent.com/4401269/39735959-7fd5804c-52b0-11e8-8bc5-995fae4f8fe5.jpg)

[2018-05-08 08:14] patilarpith commented on #202
@emcrisostomo I use fsw_monitor_type::system_default_monitor_type.

You're correct in the sequence you mentioned above. Hence I'd assume the lower latency set via set_latency() function would reduce the time spent in while(active_monitor->is_running()) loop after issuing active_monitor->stop();.

This is not the case. As I mentioned above in my previous comment, even if I reduce the latency from 0

[2018-05-10 08:18] emcrisostomo commented on #191
Thank you very much @valignatev. Are you able to replicate the crash? If you are, I'd like you to give me the following information:

* OS you're running.
* A dump of the watched directory contents. Something like:

[code]

This way I should be able to quickly recreate your directory structure and replicate the crash.

[2018-05-10 09:07] valignatev commented on #191
Can't give you a directory tree of an actual project, but I could replicate something similar with one opensource project, which is [reactjs](https://github.com/facebook/react).
Here's the output:
[files.txt](https://gist.github.com/valignatev/8d5ae4a1b0bfffd119df0f2f81e013e3/raw/6bd733d6e6f7530ba414c142cbb4c41a7f38249e/files.txt)
[directories.txt](https://gist.github.com/valignatev/8d5ae4a1b0bfff

[2018-05-10 11:39] emcrisostomo commented on #191
Thank you very much @valignatev

[2018-05-17 07:21] JacobAMason opened #206 "inotify_rm_watch: Invalid argument"
I tried to test out fswatch with the following simple command:

    fswatch -0 test | xargs -0 -n1 echo "Hello"

After each response

    Hello /home/JacobAMason/test

I get the following

    inotify_rm_watch: Invalid argument
    Hello

This happens on every update to the file. So I have this output:

    fswatch -0 test | xargs -0 -n1 echo "Hello"
    Hello /home/JacobAMason/test
    inotify_rm

[2018-05-21 13:55] aneilbaboo opened #207 "Document Event Types in man page documentation"
The man page says "See Event Types", but provides no further information. It would be helpful to see the list of event types and the associated numeric values.

For others who have searched for this, documentation is here:
http://emcrisostomo.github.io/fswatch/doc/1.11.3/fswatch.html/Invoking-fswatch.html#Event-Flags

NoOp: 0
PlatformSpecific: 1
Created: 2
Updated: 4
Removed: 8
Renamed: 16
OwnerMo

[2018-05-25 02:57] mihongkun opened #208 "gcc 4.4.7 compile and install fswatch by source"
gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-18)
Copyright (C) 2010 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

error info:

checking where the gettext function comes from... libc
checking whether g++ supports C++11 features by default... no
checking whether g++ sup

[2018-05-25 06:16] t3hk0d3 commented on #208
AFAIK you need at least GCC 4.7 for C++11 support -

https://gcc.gnu.org/gcc-4.7/cxx0x_status.html

However you might try to lower it to c++0x and check if it compiles.

Sent from my iPhone

[2018-05-25 08:10] mihongkun commented on #208
@t3hk0d3  thank you.

[2018-06-03 21:11] Vanav opened #209 "How to watch a directory or files by mask with poll_monitor (NFS/FUSE)?"
I need to monitor a directory or file mask like "*.conf" in poll_monitor mode, because I use NFS/FUSE that doesn't support any notification events (Gluster FUSE mount). But it doesn't work, only exact existing file path works.
Is it possible to watch directory/file mask in poll_monitor mode?

Works only for existing files because of shell wildcard support:
```fswatch --monitor=poll_monitor --one-p

[2018-06-07 03:40] aksswami commented on #125
Hi @emcrisostomo @serialoverflow

I am working on similar cloud service with lazy loading of files and directory. Any update on this discussion?

Thanks

[2018-06-15 09:33] wangchuanfang commented on #179
I use fswatch_test demo . but,
"  if (FSW_OK != fsw_start_monitor(*handle))
  {
    fprintf(stderr, " Error creating thread\n");
  }
"
The fsw_start_monitor always reutrun failed. This is why？？

[2018-06-21 21:31] emcrisostomo commented on #209
`fswatch` does _not_ recursively watch a directory. The shell glob pattern in the first command results in `fswatch` being fed as many arguments as files are there in that directory. If you want to recursively scan a directory, use the appropriate option: `-r`.

[2018-06-21 21:31] #209 closed

[2018-06-21 21:31] emcrisostomo commented on #208
Thanks @t3hk0d3

[2018-06-21 21:31] #208 closed

[2018-06-21 21:33] #199 closed

[2018-06-23 08:46] emcrisostomo commented on #191
Hi @valignatev, I fixed the bug in develop and a release will be prepared soon. Basically, `inotify` event queue can overflow , and that's consistently happening in this case because we're scanning a huge filesystem hierarchy. Since event queue overflow may lead to event losses, I decided that by default `fswatch` would exit with an error if that happened. You can tell `fswatch` _not_ to exit and

[2018-06-23 08:46] #191 closed

[2018-06-24 03:33] valignatev commented on #191
@emcrisostomo Hi! Thanks a lot for the fixes, I'll try them out and let you know

[2018-06-24 14:15] valignatev commented on #191
Brief testing shows that fswatch works well in this case now. Am I right that you've changed the behavior, so now fswatch ignores such overflows? Also, I've noticed `--allow-overflow` flag, but I don't remeber if it was here in previous releases :)

[2018-06-28 03:49] valignatev commented on #191
Ok, four days in and still works great for me. Can't wait for the release ;)

[2018-06-28 15:06] emcrisostomo commented on #191
Hi @valignatev, yes to all your questions. Thanks for finding the bug _and_ for testing `fswatch`. I'll release it in a few hours.

[2018-06-28 15:09] emcrisostomo commented on #206
Hi @JacobAMason, thanks for the report. I'll have to investigate it. Could you dump the directory structure of the test directory and all its contents and attach them to this issue?

[code]

[2018-07-05 00:09] SpaceKatt commented on #206
I also just ran into this issue, while using `fswatch` on a rasPi.

My workaround was to switch the monitor that I was using:

```fswatch -m poll_monitor```

You can find the list of available monitors by using the `-M` flag:

[code]

[2018-07-05 11:52] valignatev commented on #166
Just got shot by this as well. So I understand why it works like this, but what's the best practice? Specifying locale explicitly when running fswatch? Like `LC_NUMERIC="my_MY.UTF-8" fswatch ...`? What if a user lacks certain locale?

[2018-07-05 13:52] emcrisostomo commented on #166
The best practice would be to set a specific locale if you want to have predictable output and behaviour. Many commands format data using the current locale. Even programs as "simple" as `ls` do that:

[code]

[2018-07-18 12:18] denilsonsa commented on #134
Slightly better wrapper script:

[code]

[2018-07-26 22:40] niftylettuce commented on #170
Can we add a note to the README regarding `sudo apt-get install fswatch`?

[2018-08-14 18:58] chpatton013 opened #210 "GCC 4.8 does not have proper regex support"
I built the most recent release of `fswatch` on Ubuntu 14.04 with GCC 4.8.4. This compiles just fine, but yields a version of `fswatch` that does not have functioning regex support. The implementation of `std::regex_search` in the STL provided by GCC 4.8.4 looks something like this:
[code]

This makes for a very opaque and frustrating debugging experience while using `fswatch`, since every regex f

[2018-08-20 02:52] jren2017 opened #211 "Is there any detail instruction about building this project on windows system?"
checking whether lstat correctly handles trailing slash... no
checking for modf... yes
checking for realpath... no
configure: error: The realpath function cannot be found.

Can you help give more instruction?

[2018-08-20 17:55] aaronovz1 commented on #177
Any chance this could be made LGPL or something less restrictive for commercial use? I'd like to use this in a commercial application and our source cannot be released publicly. If fswatch was LGPL, dynamically linking to an unmodified version of fswatch would be ideal.

[2018-08-22 10:29] mareklauko commented on #134
I highly recommand to use fswatch with 'poll monitor'
`fswatch -r -m poll_monitor /your/path`
=> fast and reliable recursive scanning, takes not a lot of CPU (~5% , 4 cores, i5-2450M), but less than 10MB ram. I am scanning ~32.000 files in ~2800 subdirectories. It reacts on changes/updates in 0.1second.

Hope, it helps someone.

[2018-08-31 23:08] aaronovz1 commented on #177
@emcrisostomo any thoughts? Thanks

[2018-08-31 23:30] tcurdt commented on #177
GPL3+BSD would be OK. LGPL (and dynamic linking) does not sound very applicable to the standard go project use case. FWIW - the Apache License (not sure about BSD/MIT) is compatible with the GPL. Just not the other way around. So that might be an easy choice as well.

https://www.apache.org/licenses/GPL-compatibility.html

[2018-08-31 23:52] aaronovz1 commented on #177
Are you saying GPL3+BSD would work for commercial product that just dynamically links to fswatch?

[2018-09-01 00:01] tcurdt commented on #177
@aaronovz1 Why do you insist on the dynamic linking? Especially on a go project?

Disclaimer: IANAL - but...

When you choose to go down the BSD route it also allows even static linking in a commercial context. Of course you would need to follow the BSD rules:

https://opensource.org/licenses/BSD-3-Clause

[2018-09-01 00:05] jakirkham commented on #177
Sorry why is Go relevant here?

[2018-09-01 00:15] tcurdt commented on #177
@jakirkham not more than go projects often go down the static linking route. (no pun intended)

[2018-09-01 00:16] aaronovz1 commented on #177
BSD would work also.

[2018-09-01 00:37] tcurdt commented on #177
@jakirkham use case for what?

[2018-09-07 14:19] sgbotsford opened #212 "Other possible events?"
Looking at the event flags, there doesn't seem to be one for file open/close events, and at least the Linux ionotify has this capability.

Also, is there any way to retrieve the name or process number of the program that did the opening?

[2018-09-07 14:26] sgbotsford commented on #134
FS watch is a general file system watcher.   Given the nature of the events that the underlying system call does, reading a directory is an event..  fswatch has some capability for event filtering.  Using it with -n (numeric flags)  allows you to bitwise OR it to the flags of interest.

[2018-09-10 16:40] JohnSlaughter commented on #197
This happens in Linux too.  Anytime a file is simply read it is treated as "changed" despite the contents not changing at all.

[2018-09-11 08:27] emcrisostomo commented on #177
Hi,

I'm a little confused since licensing and legal is really not my domain. When I started the project I used GPL3 (as suggested by GNU, even for libraries), and that's in line with the spirit with which I've written `fswatch` and `libfswatch`.

Now, I really have no issues in re-licensing it with a license that's in line with my principles, and LGPL seems to meet that criteria. Even BSD 3-claus

[2018-09-11 10:03] tcurdt commented on #177
@emcrisostomo IANAL but....

GPL + LGPL works for in world with dynamic linking. In a go world where I create a single static binary even the LGPL is a blocker - because the user cannot replace the library him/herself. That's why even the LGPL is (by many) considered incompatible in that scenario.

If you are the rights holder and other contributors did not contribute more than little patches you

[2018-09-14 08:53] netjune opened #213 "--exclude doesn't work?"
I tried the followings, they all didn't ignore the file "test.sh".
[code]

[2018-09-25 15:39] emcrisostomo commented on #142
I agree this is complexity that does not pay us back with any meaningful advantage: I'm removing the monitor registration logic.

[2018-09-25 15:40] emcrisostomo commented on #173
Closing as duplicate of #142

[2018-09-25 15:40] #173 closed

[2018-09-27 11:09] emcrisostomo commented on #142
It has been closed in `master` and it will be released shortly.

[2018-09-27 11:09] #142 closed

[2018-09-27 13:04] emcrisostomo commented on #213
There's not sufficient information to troubleshoot this (OS, monitor, unexpected output).

[2018-09-27 13:04] #213 closed

[2018-09-27 13:06] emcrisostomo commented on #210
I was _not_ aware of this pitfall. I will have a look at it.

[2018-09-27 13:06] emcrisostomo commented on #213
Just as an idea, please check #210 and see whether that may be happening to you.

[2018-09-27 17:28] emcrisostomo commented on #210
This check should now be in `master`. I'll test it on Linux tomorrow.

[2018-09-27 17:28] emcrisostomo commented on #210
Yes, I've made a quick Google search and you're not the only one that has been bitten by the broken `<regex>` implementation. Unfortunate.

[2018-09-28 08:06] brechtsanders opened #214 "Building with MinGW (not Cygwin)"
Hi,
I had problems building fswatch with MinGW-w64 (both 32 and 64 bit versions), but in the end I was able to build a working version of fswatch by doing the following:
- remove detection of unsupported functions from configure
- remove requirement to have both Windows and Cygwin detected to build windows_monitor
- remove code related to links
- remove code related to signal handling
- use _fullp

[2018-09-28 08:10] brechtsanders commented on #211
See ticket 214 if you're using MinGW.
FYI realpath on Windows can be emulated with:
[code]

[2018-09-28 13:13] emcrisostomo commented on #214
Hi @brechtsanders ,

Thank you so much for your contribution. Besides not being my primary platform, you've probably unblocked two independent lines of work: providing a MinGW-compatible version of fswatch by dropping the CygWin requirement, and resurrecting the `realpath` problem.

[2018-09-28 14:35] brechtsanders commented on #214
Glad I could help.
You may want to think about the stuff related to links though.
My fix ignores links, but Windows does have links. However it doesn't have S_ISLNK() or lstat().

[2018-10-07 13:29] holyspidoo commented on #150
Exact same problem I ran into :)

Any hope for this issue? Or is there a better way altogether to monitor sqlite files for changes (instead of monitoring files changes)?

[2018-10-11 00:58] scil opened #215 "why this regexp can not watch php files?"
I want to watch only php files
[code]

but nothing output

[2018-10-11 09:15] scil commented on #215
found this
[code]
https://stackoverflow.com/questions/34713278/fswatch-to-watch-only-a-certain-file-extension

[2018-10-11 09:15] #215 closed

[2018-11-05 12:33] GiedriusS opened #216 "Feature request: expose Prometheus metrics"
It would be very useful to have some kind of metrics exposed to Prometheus and other monitoring systems through a simple HTTP server which serves `/metrics` in `fswatch`. Please consider adding such feature to `fswatch`.

[2018-11-05 12:51] t3hk0d3 commented on #216
To be honest thats weird idea.
Why would you expect command line tool to hold HTTP server to output metrics?

Also not sure what kind of metrics you are expecting to get?
Number of changed files?

If you really need it - you can implement that by simple wrapper.

[2018-11-13 08:30] emcrisostomo commented on #206
Closing this because there's no way to replicate this issue and there's no feedback from the issuer.

[2018-11-13 08:32] emcrisostomo commented on #210
A check has been added which rejects GCC 4.8.

[2018-11-13 08:32] #210 closed

[2018-11-13 08:36] emcrisostomo commented on #195
I think you're confusing static_casting a `nullptr` versus static_casting an uninitialized pointer. Actually, `static_cast` maps `nullptr` to `nullptr`, so the check is correct. This is mentioned in the standard:

"The null pointer value (4.10) is converted to the null pointer value of the destination type." (5.2.9-8)

[2018-11-13 08:36] #195 closed

[2018-12-04 16:37] Vanav opened #218 "fswatch v1.13 ignores --monitor parameter and always uses default monitor"
Function below ignores `type` argument and always returns default monitor.
[code]
https://github.com/emcrisostomo/fswatch/blob/1ee493b998181f3048444470c292c418ec4f7f96/libfswatch/src/libfswatch/c%2B%2B/monitor_factory.cpp#L69

[2018-12-04 20:46] emcrisostomo commented on #218
Hi @Vanav, you're right. It's going to be fixed ASAP.

[2018-12-04 22:23] emcrisostomo commented on #218
Fixed in 1.14.0

[2018-12-04 22:23] #218 closed

[2018-12-05 11:44] Vanav opened #219 "Exclude all doesn't work as expected"
Example:
[code]
Expected: exclude all, but include only `/tmp/test/myfile`.
Actual: excludes all, doesn't ever monitors the path `/tmp/test`.

Documentation says:
[code]
(http://emcrisostomo.github.io/fswatch/doc/1.14.0/fswatch.html/Invoking-fswatch.html#Filtering-by-Path)
so I think the example should work correctly.

Log:
[code]
Notice, there is no line:
[code]
fswatch 1.14.0, gcc 4.9.2, tested

[2018-12-05 20:38] emcrisostomo commented on #219
Hi @Vanav,

The second statement of the section of the documentation you're citing, says:

which is _exactly_ what's happening to you. The list of object to monitor is `(/tmp/test)` and the filters you're using _exclude_ it, so nothing gets actually monitored.

[2018-12-05 20:38] #219 closed

[2018-12-06 01:45] Vanav commented on #219
How can I solve this two usecases:
1. Monitor `/tmp/test` directory, exclude everything, include only `\.cpp$`?
2. Monitor `/tmp/test` directory, exclude notifications about directory `/tmp/test` itself?

About second usecase: I monitor FUSE mount with `poll_monitor` and on `modifiedfile` file change I have such log:
[code]
Is there a way to filter out `/mnt/conf/test` to keep output cleaner?

[2018-12-22 23:40] pbiggar commented on #157
To add a note on this, I had a similar problem with sed. In BSD sed, the flag to line buffer is `-l`, while in gnu sed, the flag is `-s`.

I found that piping fswatch twice (as in `fswatch | cmda | cmdb`)failed under all scenarios unless I found the correct flag for other commands in the pipe. It would be wonderful if there was a way for fswatch to not require this, though I'm not sure that's poss

[2019-01-17 20:57] baerbock opened #220 "Monitor HTTP folder"
Is it possible to monitor a HTTP folder like e.g. https://is.gd/otACHY ?

[2019-01-18 01:45] jchook commented on #212
My main use case is "when I save a file, do something".

Currently `fsevents` does not satisfy this use case very well.

For example, using Atom editor:

- `--event Updated` yields three? of the same event on each save
- `--event AttributeModified yields zero events on save

Comparing this to inotifywait, I have `CLOSE_WRITE` fire ONCE on each save.

[2019-01-19 23:05] stuff-and-nonsense opened #221 "exit if command fails (with non-zero exitcode)"
In a BASH script with set -e, fswatch continues to run regardless of failing commands.
To have fswatch exit if a command fails, I'm using:

fswatch . | xargs -n 1 -I % sh -c "COMMAND % || pkill fswatch"

This is not robust. Perhaps fswatch could have a --terminate option which watches exitcodes and terminates if necessary on first error? Or perhaps there is a better BASH way?

Thanks for your insi

[2019-01-21 08:12] emcrisostomo commented on #221
How would `fswatch` know what happened to _another_ process, to which its output has been piped to? Your expectation of its working is "not robust".

Let's take `bash` for example (http://www.gnu.org/software/bash/manual/html_node/Pipelines.html):

and

[2019-01-21 08:12] #221 closed

[2019-01-23 00:46] stuff-and-nonsense commented on #221
Hi Enrico,

I use the safety compliment of:

set -euxo pipefail

I've tried the following on lubuntu, and it exits (as is wanted and expected):

fswatch $(pwd) | tee filelist.txt | xargs -n 1 sh -c "exit 255"

on first trigger with:

$ touch foobar

On macOS the behaviour appears different and less useful:

If I touch a file in the current folder, I can see that filelist.txt is populated, xargs fi

[2019-01-29 23:10] FedericoCeratto commented on #177
MPL-2.0  https://en.wikipedia.org/wiki/Mozilla_Public_License provides similar benefits to GPL in terms of encouraging contribution, protecting from patent trolling and "tivoization" but allows both static and dynamic linking like BSD/MIT and is compatible with all the most popular licenses.

[2019-02-04 22:06] Jammmmm commented on #206
Sorry to reopen this, but I can confirm that this is an issue:

I run fswatch with _inotify_monitor_ and then modify index.php:

**fswatch -m inotify_monitor -t -x /path/*.php**

		Mon 04 Feb 2019 09:56:32 PM UTC /path/index.php Updated
		inotify_rm_watch: Invalid argument
		Mon 04 Feb 2019 09:56:33 PM UTC  AttributeModified

I run fswatch with _poll_monitor_ and then modify index.php and it stops

[2019-02-05 10:22] Eluminae commented on #206
I'm facing the same issue.
[code]

[2019-02-08 15:55] emcrisostomo commented on #206
I thought it was something related with file names but according to @Jammmmm that's not the case. Would anyone attach a zipped directory I can use to replicate this problem? I haven't been able to replicate it and until I do there's no way I can fix it.

[2019-02-08 16:12] Jammmmm commented on #206
Attached: [test.zip](https://github.com/emcrisostomo/fswatch/files/2845845/test.zip)

There's nothing special about it. Standard directory with standard file.

I've tried running fswatch as a regular user and as root. Both have the problem.

I have just noticed that @Eluminae is using Ubuntu. I am too. Maybe that has something to do with it?

**lsb_release -a**
[code]

**uname -r**
`4.4.0-141-gene

[2019-02-12 08:11] chennqqi commented on #177
![](https://github.com/starandtina/starandtina.github.io/raw/master/assets/images/open-source-licenses-en.png) by [paul millr](https://paulmillr.com/posts/simple-description-of-popular-software-licenses/)

[2019-02-12 08:18] chennqqi commented on #177
I suggest that you can change `libfswatch`'s license to dual license (Apache License2 and GPL)

[2019-02-24 22:35] anowlcalledjosh commented on #206
I'm also observing this issue on Ubuntu 18.04, fswatch 1.11.2.

[2019-03-05 11:02] HighSoftWare96 opened #222 "Set subfolder recursion with a parameter"
Is there a way to set the clock's recursion? So the change event is activated when something changes at most in n subfolders? Or if this is not expected if something changes in the selected directory and not in its subdirectories?

[2019-03-10 19:08] MisterTea commented on #177
Hey, I'm working on a better version of rmate called "CodeFS" https://github.com/MisterTea/CodeFS

I would like CodeFS to be BSD/Apache licensed, but I can't do that because it depends on fswatch.  I'm  going to have to replace fswatch if we can't change the license :-(.

Please let me know if you plan on having a dual license, thanks!

[2019-03-15 16:43] kuvaldini commented on #212
Hi? Where is the list of all possible events?

[2019-03-15 17:12] kuvaldini commented on #212
Thanks. `grep` rules
[code]

[2019-03-15 18:22] kuvaldini commented on #207
From code:
[code]

[2019-03-17 18:44] ulrikstrid commented on #121
Is there any movement here? I saw that #214 had some solution, can parts of that be added in the repo?

As someone that have not done much c/c++-programming, is there something I can do to help move this forward?

[2019-03-18 23:42] jgkamat opened #223 "Fedora fswatch package"
It would be really nice to have a package for fswatch on fedora (or even just an RPM we can install).

Similar to https://github.com/emcrisostomo/fswatch/issues/149

[2019-03-19 13:27] vrajanap commented on #206
Also observing this on Ubuntu 18.10 and fswatch 1.12.0

[2019-03-19 13:31] vrajanap commented on #206
Checked out sources with version 1.13.0 and locally built it. That seems to work fine.

[2019-03-19 14:48] Eluminae commented on #206
I got the same thing on archlinux, sadly.

[code]

[code]

[2019-03-21 03:45] sdondley opened #225 "Limiting number of time fswatch triggers event with fsevent monitor"
I have a fswatch set up on a directory which triggers a script to refresh my browser every time a file is changed. I'm on a mac so I'm using FSEvent monitor. It works but if there is a bunch of files added or deleted in a single shot, the browser can refresh for many several minutes before it stops.

I've tried all the different switches but to no avail. I did find switching to poll_monitor works

[2019-04-10 03:06] mattbishop commented on #82
Please put this behavior in the docs for `-I`; I just spent 30 minutes questioning my skills with regex!

[2019-04-13 04:55] jordwalke commented on #214
Thank you so much for sharing what you did to get this working. Can this be upstreamed?

[2019-04-13 07:18] brechtsanders commented on #214
Absolutely!

[2019-04-19 18:20] Enerccio opened #227 "t :p"

[2019-04-22 07:15] AgentCosmic commented on #151
For those who need a workaround to this problem, you can try using an external program to generate the file list first. This is what I use:

`fswatch -r -0 --monitor=poll_monitor $(find $watch_path -name *.go) `

[2019-05-03 14:28] SteveHallNNT opened #228 "Using fswatch to detect new files (Solaris)"
Hi,

Can I use fswatch to detect when a file is created in a folder on Solaris?  When I monitor a folder it does tell me the folder has changed when I add a file but it doesn't seem to have any details of the new file itself.  Changing a pre-existing file works and deleting a file seems OK too.

Disclaimer : when I compiled it I had to comment out references to FILE_TRUNC in fen_monitor.cpp as the

[2019-05-14 07:17] infectormp opened #229 "Add fanotify support"
Linux Kernel 5.1 released and now it can handle all file events by fanotify  https://github.com/amir73il/fsnotify-utils/wiki/Super-block-root-watch
so fanotify support now can be added to fswatch

[2019-05-30 20:31] nicad commented on #150
Also ran into this while looking at sqlite files from iCloud

[2019-06-19 15:06] vgrozev commented on #151
I understand that this conversation is old, but I have similar problem and I wanted to ask if some new solution is currently present.
I want to monitor a huge directory for changes, but I want to exclude all files and directories that start with dot. Is there a way to prevent fswatch from ever looking at the directories starting with a dot?
For example, if the home directory is monitored, I defini

[2019-06-20 09:32] Drarok commented on #104
I had to find this issue in order to work out what was going on, so I'd at least say the man page needs updating to explain how the include/exclude flags work.

However, I'd definitely be in favour of also changing the default so that when no filters are specified all files are watched, but running with only an include would watch _only_ those files. Exclude could then be used to narrow that list

[2019-06-24 02:17] AgentCosmic commented on #151
I doubt this would ever be fixed. I ended up creating my own solution instead of waiting https://github.com/AgentCosmic/xnotify

[2019-07-04 09:33] iwelch opened #230 "really slow on macos"
hi enrico---in the docs, you probably want to change "OS X" to "macos" now.

even with a latency request of 0.2, fswatch sometimes takes several seconds.  Other apps, liked Marked 2 (https://marked2app.com/) are always instant, using fsevents.

regards, /iaw

[2019-07-12 22:43] semaperepelitsa commented on #24
If anyone is interested to just run a command without passing changed files, you need to replace this:

[code]

With this:

[code]

Substitute "echo updated" with your own command.

[2019-07-15 14:11] gnpan opened #231 "Attribute modifications"
Is there any way to avoid attribute modifications being monitored? The Updated event flag seems to include them, which is not really necessary since an AttributeModified flag is available.

[2019-07-15 21:47] francoisp commented on #151
I have the same issue, I'm currently using find to run fswatches on all the subfolders except the excluded ones. Works one level deep, so that's a limitation, and you might have to increase your inotify count. check it out here: https://github.com/francoisp/DuplexRsync/blob/9df83eca6a6f7a140196184fe5efa4647e4d5ba5/duplexRsync.sh#L168

find $absPath -maxdepth 1 -mindepth 1 -type d  ! -name \"node_m

[2019-08-15 07:07] unoexperto commented on #153
@emcrisostomo Enrico, could you suggest how to filter output by event type on Ubuntu/Linux ?

[2019-08-15 07:23] unoexperto opened #232 ""inotify_add_watch: No space left on device" error when using "event" param"
Could you please suggest right way to filter by event types ?

I've tried this

[code]

By default on my Ubuntu MATE 19.04 (kernel 5.0.0-25-generic) I get errors

[code]

So I checked output of `cat /proc/sys/fs/inotify/max_user_watches` and it's 8192. I changed it via `sudo sysctl fs.inotify.max_user_watches=1048576` but fswatch seems to hang now. But after long long wait exits with

[code]

Plea

[2019-08-30 22:47] ormaaj commented on #177
You don't need to explicitly do anything regarding a dual-license. One would usually do development of their portable library / component under a single "simple" license with few terms such as MIT or ISC, where the license terms are either a subset of, or non-conflicting with the license terms used by other projects / components that utilize it as part of a system.

The "n-license" effect happens

[2019-08-30 23:24] tcurdt commented on #177
It's been almost two years now. It seems like a) or b) are the only options fow now.
So if someone finds an alternative project - please leave a link!

[2019-09-01 23:48] foxx commented on #228
Also had to comment these lines out to make `fswatch` work on Solaris. I'll report back with a PR if it seems stable.

[2019-09-02 08:32] SteveHallNNT commented on #228
@foxx - can you detect new files being created on Solaris?

[2019-09-02 10:52] foxx commented on #228
@SteveHallNNT Yeah, Solaris 11 has something3 called [File Events Notification](https://blogs.oracle.com/solaris/file-notification-in-opensolaris-and-a-bit-of-shell-internals-v2).

There does appear to be support in this library for Solaris too, based on the `README`;

I haven't tested this library individually, but it seems to be working fine with `minio`.

[2019-09-19 15:27] POTSandSTOP opened #233 "macosX inconsistent event reporting for options -x and -o"
fswatch v1.14.0 on macosX 10.11.6 (El Capitan)

I've read the different reported issues (e.g., #144, #62) where _creating a new file_ sometimes simultaneously reports `Created` and `Removed` events when running with -x option. I did some experimenting and have discovered that the -o option seems to consistently (correctly) report only one event.

If the issue is as described in the other issues:

[2019-09-20 08:48] ulrikstrid commented on #214
@brechtsanders Thank you so much for this!

I tried this and it builds just fine, but I can't seem to get any output from the final binary. Not even `--help` or `--version` gives any output, doesn't even crash. Is this something you have seen as well? I have not tried the library yet
I'm building version `1.13.0` if that matters, I could try with `1.12.0` if that should make any difference?

[2019-09-20 09:34] brechtsanders commented on #214
@ulrikstrid
I have successfully built and ran versions 1.13.0 and 1.14.0.
Note that the dependancies must also work wor the application to run.
In my latest build I see dependancies on the following DLLs:
- libgcc_s_seh-1.dll
- libiconv-2.dll
- libintl-8.dll
- libstdc++-6.dll
- libwinpthread-1.dll
In my case libiconv and libintl come from libiconv and gettext which I also built myself (including a

[2019-09-20 19:50] ulrikstrid commented on #214
So I've also built `libiconv` and `gettext` I see that I have this `libintl-7.dll` instead of a `libintl-8.dll` could that be it?

Thank you for taking the time to help me out @brechtsanders

[2019-09-20 22:02] brechtsanders commented on #214
Have you tried running with GDB? It will tell you why it's exiting.

[2019-10-30 08:32] itmuckel opened #234 "fswatch doesn't notice file changes predictably"
Hello!
I created a Dockerfile based on php:7.3-apache in which I installed fswatch via apt (version 1.14.0).
Now I run this script inside docker:
[code]

Unfortunately most of the time it doesn't recognize any file changes. Any idea why?

I already increased the file watcher count on my host system (Ubuntu 18.04.3).

[2019-11-09 16:44] skyerjoe commented on #115
Any good news to this topic  ?

best regards

[2019-12-06 13:05] rualark commented on #232
I also have this error:
`
inotify_add_watch: No space left on device
`

[2019-12-07 03:28] JamesHopbourn opened #235 "Doesn't work with crontab"
sh script:
[code]

It can work well by command: nohup ./sync.sh &.
But I want to us crontab to launch sh script automator and add this to crontab file:
[code]

But it doesn't work.

[2019-12-26 10:31] kandu opened #236 "[Feature Request] event loop interface"
Hi, dear fswatch developers!

Thanks for your great work. The API design, that user only need to register a callback function to a session and then fswatch handle the events dispatching and memory collection, is very convenient.

But in some case, we need a somehow not so convenient API interface that can expose the internal event loop so we can take control of it.

For example, suppose we want to

[2019-12-30 13:27] emcrisostomo commented on #228
The behaviour depends on the monitor. Solaris File Events Notification will tell you that a directory has changed when a file has been created, but won't give you any more details. It's up to the receiver to scan the directory contents and see what file has been created.

[2019-12-30 13:27] #228 closed

[2019-12-30 18:39] emcrisostomo commented on #234
Nope. Can you provide the simplest test scenario where this fails?

[2019-12-30 18:39] #234 closed

[2019-12-30 20:47] emcrisostomo commented on #230
Thank you very much @iwelch: in fact `fswatch` doesn't allow you to specify the `kFSEventStreamCreateFlagNoDefer` flag (`libfswatch` does):

Here is [the documentation](https://developer.apple.com/documentation/coreservices/1455376-fseventstreamcreateflags/kfseventstreamcreateflagnodefer?language=objc) and the rationale for the behaviour of `fswatch` is:

I'm marking this as an enhancement.

[2019-12-30 20:56] iwelch commented on #230
Suggestion: If fswatch is running on a tty, make fast check the update.  if fswatch is invoked in batch, make slow check the update.  (and maybe allow a flag to toggle.)

[2019-12-30 21:09] emcrisostomo commented on #230
Thanks, that's a good suggestion indeed.

[2020-02-08 11:16] NeutroGe opened #237 "Using xargs with string replacement in osx fails if"

[2020-02-08 11:17] #237 closed

[2020-02-08 11:39] NeutroGe opened #238 "The manual should specify that BSD/osx users need to use gxargs instead of xargs"
Hello,

The string replacement system of xargs has a limit of 255 bytes on BSD, which osx is based on.

Which means that if fswatch is used with xargs on BSD/osx to process the output using string replacement it will fail on files which path+name are over 255 bytes with an error message "{} no such files or directory".

So on operatings sytems that are based on BSD, people that want to use fswatch

[2020-02-19 00:29] Qix- commented on #176
This is disappointing. Automake is dying, CMake is the industry standard. Adding this to my larger project was a one-liner, but unforunately the CMake builds don't work :| Why have them if they aren't supported?

[2020-02-20 09:14] emcrisostomo commented on #176
Hi @Qix-. I empathise with your disappointment, but in the world I'm living Autotools is very well alive, while nobody's using CMake. This is not a judgement of value, it's just a description of my reality.

Now: why have them? Well, here's the story: I switched to CLion, which:
* has CMake support
* does not have Autotools support
* has limited Makefile support

So, for a while, I used to boostra

[2020-02-20 11:04] Qix- commented on #176
The build system of a project should not at all be influenced by the IDEs of a single developer of that project.

I would open a PR but would it be accepted? It wouldn't use your autotools setup at all. Its goal would be to replace it entirely.

[2020-02-20 17:04] emcrisostomo commented on #176
@Qix-, I told you the story to tell you _why_ that CMakefile is there, in the first place. Without it, it wouldn't be there and I'm wondering whether this discussion would exist at all.

Now, the build system of `fswatch` has been Autotools since the beginning of that project and I reiterate that in the world I'm living, a great deal of the software we use (and build), still uses it, and I don't s

[2020-02-20 17:45] Qix- commented on #176
🤷‍♂ sounds like you've made up your mind, then :)

I'll look for another filesystem watcher. Thanks!

[2020-02-20 19:28] emcrisostomo commented on #176
I haven't made up my mind, I just haven't got any proposal, really, nor understood where the problem is. If that was the case, I'd certainly like to help.

Have you got any problem building the software from a release tarball with `./configure && make`?

[2020-02-20 20:22] abbaswasim commented on #176
I can see both sides of the coin. I can imagine someone already using cmake build system would find it very easy to integrate a cmake build system third party software and would naturally prefer a cmake build system for all dependencies but not always possible.
On the other hand maintenance of two different build system is a pain in the back side as well. It does have the value that it can easily

[2020-02-20 22:58] emcrisostomo commented on #176
Thanks @abbaswasim. I don't see why not: according to the docs you should be able to run any process during a CMake build (https://cmake.org/cmake/help/latest/command/execute_process.html). You can:

* Download the source tarball using the GitHub API.
* `./configure` the build
* `make` it

That's exactly what port systems such as MacPorts or HomeBrew do.

[2020-03-10 02:36] proteo opened #239 "Problem when invoking ssh from a script called by fswatch"
I'm using this command to watch changes on a directory with CSS files:

[code]

The command executes the file called `touch-css.sh` which uses the name of the modified file to inform a remote server about the updated file:

[code]

The process is (mostly) working, except that the `ssh` line causes fswatch to enter in a loop, executing the script over and over infinitely, as if the modified file wo

[2020-03-10 23:28] opsidjflksdf commented on #158
I was looking for a solution to the same problem.
I came across this (not my code):
	https://github.com/russelldavis/sublime-detect-deleted-files
- it closes tabs for which the file has been deleted (or renamed/moved away), or shows a warning (and not close) if there have been changes. It's a bit rough around the edges, the dialog shows up multiple times, can probably be improved, but overall it s

[2020-03-23 02:45] gladiatr72 commented on #197
Apologies for the reply to the relatively ancient issue, but this should definitely be closed.  FYI for anyone that should happen upon this issue, _touch(1)_ is primarily used for: `change file access and modification times` (direct from the man page). It is a side-effect that it happens to be useful for creating empty files.  Checking the file's modification time is a standard way of checking for

[2020-03-23 12:07] emcrisostomo commented on #197
Thanks @gladiatr72

[2020-03-23 12:16] mologie commented on #197
Oh, old ticket!

I respectfully disagree with your assessment @gladiatr72, as a `stat` syscall or additional inspection of inotify's/fsevent's output is likely to resolve the issue and does not incur much overhead at all. I did not mention calculating checksums because I believe that it is not required.

Preciseness matters, because fswatch's primary use case is avoiding unneeded overhead by using

[2020-03-23 12:39] emcrisostomo commented on #197
Ok, this is worth further investigation

[2020-03-24 15:30] emcrisostomo commented on #235
Are you sure fswatch is in the path expected by your cron job?

[2020-03-24 15:30] #235 closed

[2020-04-09 14:42] dagostinelli commented on #223
It's been a year since this was mentioned, I assume that @emcrisostomo need some help (in terms of spare time)  Perhaps if someone gets the ball going.

[I happen to be a maintainer for Fedora](https://fedoraproject.org/wiki/User:Dagostinelli) and like to use fswatch in my work.  I can start the process @emcrisostomo

[2020-04-09 14:57] emcrisostomo commented on #223
@dagostinelli, that would be _awesome_. Actually, I need help both in terms of spare time and in term of knowledge: I'm not using any OS that uses the RPM package management system and that's why this issue has been sitting here so long.

[2020-04-09 18:10] dagostinelli commented on #223
@emcrisostomo Great! I'll get started.  ETA: would be in about 3-10 days (I have to work it into my schedule) This shall be done!

[2020-04-11 23:49] dagostinelli commented on #223
Can you email me?  I have some questions and things to discuss. [My email address can be found here.](https://fedoraproject.org/wiki/User:Dagostinelli)

BTW, I looked up yours on your web site, but the link to de-obfuscate it is broken.

[2020-04-12 11:24] QIanGua commented on #180
I also want to use the relative path output, and I get a  solution as
[code]

[2020-04-12 16:34] emcrisostomo commented on #223
Hi @dagostinelli, I've just sent you an email.

[2020-04-12 16:41] emcrisostomo commented on #223
@dagostinelli, thanks for your contribution!

[2020-04-20 22:17] Ductapemaster opened #240 "Regex end of string anchor is not respected"
I've noticed that in one specific case, the regex end of string anchor `$` is not being respected when using the `-i` command.  Here is some test code:

`fswatch -i "\.txt$" --event="Created" ~/Downloads/ | tee >(xargs -I {} cp {} {}.log)`

When you create a new `.txt` file in the watched directory, the command will copy it appending `.log` to the end.  This, however, still triggers the regex!  It

[2020-04-23 19:35] yhaiovyi commented on #206
Same here, on rpi3b+

[2020-04-29 07:47] doronbehar opened #241 "What are my monitor properties? + more undocumented"
Hey :) This program looks awesome, first time user here.

On GNU/Linux, I'd like to use fswatch to monitor only writes to a file. I'd like to run a markup convertor whenever I perform a write to a README file.

It feels as if the normal `fswatch -o README` shows also events which are not write because it spits a new line even if I don't write the file but moving my focus to it.

I notice there's `

[2020-04-29 14:15] edwincc-vital commented on #166
@emcrisostomo
That makes sense but still is surprising I think for a lot of people. I think it would be great if the error message suggests to check about that

[2020-04-29 15:06] adrianrb opened #242 "Erro compiling in Raspberry Pi 3b (not 3b+)"
When compiling from source in my RPi 3b (no apt package found), I´m finding erros below.
Missing dependency?

Edit: Using 2019-09-26-raspbian-buster.zip from raspberrypi.org

`pi@raspberrypi:~/fswatch-1.9.3 $ make
make  all-recursive
make[1]: Entering directory '/home/pi/fswatch-1.9.3'
Making all in libfswatch
make[2]: Entering directory '/home/pi/fswatch-1.9.3/libfswatch'
make  all-recursive
make

[2020-05-08 08:30] thoni56 opened #243 "PlatformSpecific instead of Updated on Darwin 19.4"
I suddenly felt I didn't get the behaviour from some scripts I had when running on Darwin/MacOS. Investigation showed that

    $ fswatch . --event-flags

and then touching an existing file ´x´ gave the following output

    /private/tmp/utman-test/x PlatformSpecific IsFile

I was expecting `... Updated isFile` or something.

However touching a non-existing file gave the expected output

    /priv

[2020-05-08 20:09] AntoinePrv commented on #93
Hi,
For anyone finding this issue, I've made a minimally reproducible example that also make it easier to track the pid. Feedback is welcome :)
[code]

[2020-05-08 21:21] mmuman opened #244 "Add native node_monitor support on Haiku"
While fswatch [builds fine](https://github.com/haikuports/haikuports/tree/master/sys-fs/fswatch) on Haiku, it would be a shame not to use the node_monitor inherited from BeOS which predates inotify by at 10 or 15 years :smile:

This is mostly a reminder for myself, unless someone else wants to beat me at it.

Btw, the `AC_CHECK_LIB([pthread]…)` does work on Haiku even though linking with the lib i

[2020-05-10 14:15] ahmgithubahm commented on #134
Would love a little explanation of what the last three lines are there to achieve ?

[2020-05-11 07:07] denilsonsa commented on #134
@ahmgithubahm It's been a couple of years, but I think I still remember why. The output could be something like this:

    path/foo/bar IsDir
    path/foo/bac PlatformSpecific
    path/foo/baz PlatformSpecific SomeOtherReason
    path/foo/bay SomeOtherReason

For each path, there could be multiple reasons why it was listed. (I don't remember if this was the case; I assume so, otherwise why would I

[2020-05-11 10:06] ahmgithubahm commented on #134
@denilsonsa thanks.  Did you use any other tool instead?

[2020-05-11 13:04] denilsonsa commented on #134
@ahmgithubahm For my purpose, [lsyncd](https://axkibe.github.io/lsyncd/) was a nice alternative. Took me some time to properly write a configuration file, but it worked fine.

[2020-05-21 21:28] tcurdt commented on #177
Any updates @emcrisostomo ?

[2020-06-01 11:31] douglasdd opened #245 "Feature: Option to exit non-zero when interrupted"
The man page clearly says

    When it receives a SIGABRT, SIGINT or SIGTERM signal, fswatch
    closes the notification streams and exits gracefully returning 0 to the calling process.

However a flag to let fswatch exit with non-0 when signaled would make some shell scripting use cases less painful....

Typically when developing, I write a quick loop like this (bash) and leave it running in a ba

[2020-06-01 15:36] zeule opened #246 "Autotools configure step fails"
Environment is AMD64 Gentoo Linux  with GCC 10.1 (and CLang is also installled). The configure step fails.

I run `configure` as follows:
[code]

For unknown reason the configure script jumps from GCC to CLang in the middle of the process:
[code]
and after that basically every test fails.

If I use the `./autogen.sh` file and then simply `./configure`, the configuration step passes but then in the

[2020-06-02 18:47] MarshallAsch commented on #223
Any update on the progress of making an rpm package for Fedora?

[2020-06-02 20:47] dagostinelli commented on #223
@MarshallAsch Soon.

https://bugzilla.redhat.com/show_bug.cgi?id=1827880

[2020-06-07 11:00] azman0101 commented on #219
I've exactly the same issue

[2020-06-11 08:24] c960657 commented on #243
On my MacOS 10.15.4, `touch foo.txt` returns `kFSEventStreamEventFlagItemIsFile | kFSEventStreamEventFlagItemInodeMetaMod`.

`kFSEventStreamEventFlagItemInodeMetaMod` is mapped to `PlatformSpecific`.

I would it make sense to map it to `AttributeModified` instead?

[2020-06-12 14:58] dagostinelli commented on #223
Almost there.

https://bodhi.fedoraproject.org/updates/?packages=fswatch

[2020-06-14 10:27] damscal commented on #114
I'm still experiencing this bug with the current ubuntu's package

[2020-06-21 18:10] 1whatleytay commented on #176
Hey :D

I've been working with cmake and clion for a while and I was disappointed to see that the cmake build system was broken. There are a couple reasons why I would prefer cmake (most of them have to do with libfswatch but ehh).
 - It's super easy to add packages via git submodules. Something like `add_submodule(fswatch)` is enough to include fswatch into your project (wo/ building or requiring

[2020-06-24 09:15] aDotInTheVoid commented on #223
This is [stable now](https://bodhi.fedoraproject.org/updates/FEDORA-2020-4d76bed500).

[2020-06-25 21:23] dagostinelli commented on #223
Great news!  It's now available for Fedora, Centos8 and RHEL8!

[code]

[2020-06-26 19:22] AngmarLord opened #247 "Excclusion / Inclusion filters do not seem to work on Linux"
**fswatch version - 1.14.0**
### Environment
CentOs 8.0
GCC version - 8.3.1

### Description

The exclude, include filters do not seem to work. Assuming a file extension of the type .abc, exclusion of all, followed by inclusion of .abc, as indicated in documentation, does not create any events at all.

I tried several formats -

`fswatch -x --event Created -e ".*" -i "\\.ext$" /path`

and

`fswatc

[2020-07-06 19:50] steamfire commented on #241
Do you mean EVENT TYPES with the
 fswatch --**event** _name_
argument?
Probably the "Updated" type is what you want.  However, I've noticed some processes do a Remove Create cycle on macos.

The actual type names are not listed in the man pages, but are mentioned in this issue/bug: #207

[2020-07-06 20:05] steamfire commented on #233
Same here

[2020-07-06 20:45] steamfire commented on #243
From issue #62 :

That buffering/bubbling explanation doesn't make sense based on behavior I see.  See below.  I created a file using 'touch testfswatch6.txt'.  I then simply repeated this 'touch testfswatch6.txt' command multiple times.

The output from fswatch for the sequence of touches proceeds through this sequence of event flags, while issuing the same command repeatedly (with a few seconds

[2020-07-19 12:16] extrawurst commented on #177
This would also be relevant for me to be able to use libfswatch in a MIT-licensed lib

[2020-07-23 18:50] nickodell opened #249 "Remove mention to fswatch-run from the man page"
The man page [mentions](https://github.com/emcrisostomo/fswatch/blob/1f52bc9d370a24137313a83dfca72351e3f3f71b/man/fswatch.7.in#L513) a command called fswatch-run:

[code]

According to the changelog, this was removed in 1.5.1:

https://github.com/emcrisostomo/fswatch/blob/1f52bc9d370a24137313a83dfca72351e3f3f71b/NEWS#L104-L110

Please update the documentation so that people like me don't go search

[2020-08-11 20:00] YenForYang opened #251 "Vcpkg support (Windows package manager)"
Hi, I was wondering if `vcpkg` integration could be fixed. Someone posted the issue more than a year ago in vcpkg's repo around a year ago: https://github.com/Microsoft/vcpkg/issues/5843.

According to the post, the problems preventing inclusion are:

There is currently a pull request on fixing CMAKE, but I haven't looked into it: https://github.com/emcrisostomo/fswatch/pull/250#issue-465250042

R

[2020-08-15 08:58] birbilis opened #252 "Out of date list of monitors at wiki page or obsolete/removed monitors for Solaris and Windows?"
at emcrisostomo.github.io/fswatch/ one reads:
...
- A monitor based on File Events Notification, a Solaris/Illumos kernel API that reports file events.
- A monitor based on ReadDirectoryChangesW, a Microsoft Windows API that reports changes to a directory.
...

but at
https://github.com/emcrisostomo/fswatch/wiki
those two are missing in the list of supported monitors

are they still in there? is t

[2020-08-15 09:16] birbilis commented on #252
just noticed this page does list those two monitors missing from the wiki page:
https://github.com/emcrisostomo/fswatch

[2020-08-15 09:38] birbilis commented on #252
Also
https://github.com/emcrisostomo/fswatch/wiki/How-to-Choose-a-Monitor
speaks of FSEvents and inotify and kqueue but doesn't have any recommendations about other monitors, instead suggests using the poll monitor if the previous 3 aren't available

at
https://github.com/emcrisostomo/fswatch/wiki/Monitors
again it doesn't list Solaris and Windows ones

at
emcrisostomo.github.io/fswatch/doc/1.14.0

[2020-08-15 09:50] birbilis opened #253 "Missing docs for 1.15.0?"
http://emcrisostomo.github.io/fswatch/doc/
seems to have both 1.15.0 and 1.14.0 point to
http://emcrisostomo.github.io/fswatch/doc/1.14.0/
but not exists no
http://emcrisostomo.github.io/fswatch/doc/1.15.0/
if you try that last URL

[2020-08-15 10:22] birbilis commented on #252
also at
http://emcrisostomo.github.io/fswatch/
it writes on the header text:
"A cross-platform file change monitor with multiple backends: Apple OS X File System Events API, *BSD kqueue, Solaris/Illumos File Events Notification, Linux inotify and a stat()-based backend."
but that doesn't mention "Windows ReadDirectoryChangesW" which is mentioned though in that page's text below

[2020-08-15 10:52] birbilis opened #254 "Similar s/w also called fswatch"
Came across this similar s/w (also available in docker hub) that seems to have the same name (guess that could cause confusion):
https://github.com/William-Yeh/fswatch
https://hub.docker.com/r/williamyeh/fswatch/
https://medium.com/@skdomino/watch-this-file-watching-in-go-5b5a247cf71f
https://william-yeh.net/post/2019/06/inotify-in-containers/

uses fsnotify (which has an interesting table on vari

[2020-08-15 12:12] birbilis commented on #251
why not use MSYS2 with MINGW-W64 (that one also supports 32-bit btw, the name just implies it's an evolution of the old MINGW) with GNU tooling instead of having to fix CMAKE for building on Windows?

[2020-08-17 06:36] YujiShen commented on #114
Same problem when using inotify on Ubuntu 18.04, (fswatch version 1.11.2). poll_monitor does not have this problem, but it report all files under the new folder instead of only report the folder.

[2020-08-24 17:34] Timmmm opened #255 "fswatch prints all files multiple times even when they aren't changing"
[code]

It prints a new chunk of files about once per second. I didn't set up this machine but I'm pretty sure this is the filesystem:

    /dev/mapper/vgsys-root on / type xfs (rw,relatime,attr2,inode64,noquota)
    /dev/mapper/vgsys-root                   104833760   29314588   75519172  28% /

OS/version:

    Ubuntu 18.04.3 LTS
    $ fswatch --version
    fswatch 1.11.2

[2020-09-24 15:39] jleider commented on #247
This is happening to me as well on Ubuntu 20.04 server, fswatch version 1.14.0.

As soon as I add the `-e ".*"` nothing will be picked up by `fswatch`

`fswatch -1 -e ".*" -i "\.ext\$" /path` works in mac but not on linux.